[2012-04-04 15:23] jendrikseipp opened #1 "Report unset attributes?"
Originally reported by: **Anonymous**

----------------------------------------

Maybe I've already asked this.  It would be kind of nice if you
could identify referenced but unset attributes (maybe using a
command line flag or config file variable).  That's another common
bug.  (It's rare a class to not set one of its own attributes, relying
instead on some external object to do its initializatio

[2012-12-12 12:25] jendrikseipp opened #2 "dead code calling other dead code"
Originally reported by: **Anonymous**

----------------------------------------

if a function calls a function and there both dead because no one is calling the first function, only the first one will be called dead by the tool because that dead function is calling it.
how about adding recursive mode after a first scan all the presumed dead function will be marked as an comment and the function w

[2013-03-13 10:24] jendrikseipp opened #3 "Django awareness"
Originally reported by: **Daniel Watkins (Bitbucket: [Odd_Bloke](https://bitbucket.org/Odd_Bloke), GitHub: Unknown)**

----------------------------------------

Django has a few metaclass things that Vulture doesn't pick up on (Meta on models and fields on models and form to name the two most obvious). It'd be good if Vulture could be told to ignore unused variables that look Django-ish (perhaps w

[2013-05-15 03:05] jendrikseipp opened #4 "Handle syntax errors gracefully"
Originally reported by: **Steven Myint (Bitbucket: [myint](https://bitbucket.org/myint), GitHub: [myint](https://github.com/myint))**

----------------------------------------

vulture crashes when run on Python's standard library.

[code]

----------------------------------------
- Bitbucket: https://bitbucket.org/jendrikseipp/vulture/issue/4

[2013-09-19 06:47] jendrikseipp opened #5 "Mark code as "Allowed""
Originally reported by: **Anonymous**

----------------------------------------

I am looking into using vulture for my code base and one of the first thing I ran into was how to accept some errors. So I don't have to see them in future runs.

I think I will end up with some kind of wrapper around vulture checking output against an list of allowed strings.

But if you have a better solution please

[2014-02-18 14:52] jendrikseipp opened #6 "Doesn't search for scripts without .py extension"
Originally reported by: **Anonymous**

----------------------------------------

Vulture doesn't search for scripts without .py extension, for example:

estevo@paz:~/analytics/backend$ file bin/AnaDaemon
bin/AnaDaemon: Python script, ASCII text executable

estevo@paz:~/analytics/backend$ vulture . | grep get_email_default_consultants
ana/metadata/api.py:326: Unused function 'get_email_default_cons

[2015-07-08 07:51] jendrikseipp opened #7 "Adding some way to deal with dynamicly called functions"
Originally reported by: **Florian Bruhin (Bitbucket: [The-Compiler](https://bitbucket.org/The-Compiler), GitHub: [The-Compiler](https://github.com/The-Compiler))**

----------------------------------------

First of all: Thanks for vulture! I just discovered it today, and found some points which makes it hard for me to use currently - I'll open two or three issues for those :)

The first thing I n

[2015-07-08 07:56] jendrikseipp opened #8 "Overriden methods of C/C++ extensions"
Originally reported by: **Florian Bruhin (Bitbucket: [The-Compiler](https://bitbucket.org/The-Compiler), GitHub: [The-Compiler](https://github.com/The-Compiler))**

----------------------------------------

When subclassing a method of a class defined in a C/C++ extension, such as this example using the PyQt GUI framework:

[code]

vulture doesn't detect that `sizeHint` is called via C++:

[code]

[2015-08-18 01:14] jendrikseipp opened #9 "Ignoring particular lines of code?"
Originally reported by: **James Mills (Bitbucket: [prologic](https://bitbucket.org/prologic), GitHub: [prologic](https://github.com/prologic))**

----------------------------------------

Is there a way to do this? For example by appending ``  # noqa`` on the end of a line?

----------------------------------------
- Bitbucket: https://bitbucket.org/jendrikseipp/vulture/issue/9

[2015-09-28 15:04] jendrikseipp opened #10 "Globals across modules marked as unused"
Originally reported by: **Florian Bruhin (Bitbucket: [The-Compiler](https://bitbucket.org/The-Compiler), GitHub: [The-Compiler](https://github.com/The-Compiler))**

----------------------------------------

When I have a `foo.py`:

[code]

and a `bar.py`:

[code]

vulture says:

[code]

verbose output:

[code]

I agree it's not really good style, but still, the attribute definitely is used.

-----

[2015-09-28 15:14] jendrikseipp opened #11 "Unused attributes on arguments"
Originally reported by: **Florian Bruhin (Bitbucket: [The-Compiler](https://bitbucket.org/The-Compiler), GitHub: [The-Compiler](https://github.com/The-Compiler))**

----------------------------------------

I'm back on trying to use vulture with my PyQt project :wink:

Sometimes, there are places where Qt passes an argument to a (virtual) function and expects some attributes to be set - something

[2015-10-04 20:26] jendrikseipp opened #12 "Variable with same name in different classes only gets reported once"
Originally reported by: **Florian Bruhin (Bitbucket: [The-Compiler](https://bitbucket.org/The-Compiler), GitHub: [The-Compiler](https://github.com/The-Compiler))**

----------------------------------------

With this source file:

[code]

vulture only complains about the first occurence:

[code]

If I do `Foo().unused` instead of `Foo()`, vulture doesn't complain at all, despite `Bar.unused` still

[2015-11-27 09:30] jendrikseipp opened #13 "Ignore methods/attributes with a certain property (cherrypy exposed)"
Originally reported by: **Magnus Carlsson (Bitbucket: [grimmySwe](https://bitbucket.org/grimmySwe), GitHub: [grimmySwe](https://github.com/grimmySwe))**

----------------------------------------

We use cherrypy as a web framework and there you define a lot of methods as handlers for the framework, they are all marked with the exposed property.

It would be nice if you could somehow tell vulture t

[2016-01-25 09:07] jendrikseipp opened #14 "License"
Originally reported by: **Tony Narlock (Bitbucket: [borneo](https://bitbucket.org/borneo), GitHub: [borneo](https://github.com/borneo))**

----------------------------------------

Any chance you can make the license on this the same as other static analysis tools? Pyflakes, flake8, jedi are all MIT.

----------------------------------------
- Bitbucket: https://bitbucket.org/jendrikseipp/vulture/

[2016-06-29 10:01] jendrikseipp opened #15 "Detect dead arguments too"
Originally reported by: **Wilfred Hughes (Bitbucket: [Wilfred](https://bitbucket.org/Wilfred), GitHub: [Wilfred](https://github.com/Wilfred))**

----------------------------------------

It would be great if vulture could also detect unused arguments. For example, y is unused here:

[code]

----------------------------------------
- Bitbucket: https://bitbucket.org/jendrikseipp/vulture/issue/15

[2016-07-13 14:44] jendrikseipp opened #16 "Provide a way of disabling unused attribute checks"
Originally reported by: **Wilfred Hughes (Bitbucket: [Wilfred](https://bitbucket.org/Wilfred), GitHub: [Wilfred](https://github.com/Wilfred))**

----------------------------------------

I'm seeing quite a high false positive rate on unused attribute checks in vulture. For example, I work with pandas a lot. Here's me explicitly assigning to an attribute with pandas:

[code]

Vulture complains "Unu

[2016-07-13 15:53] jendrikseipp opened #17 "Handle syntactically invalid files"
Originally reported by: **Wilfred Hughes (Bitbucket: [Wilfred](https://bitbucket.org/Wilfred), GitHub: [Wilfred](https://github.com/Wilfred))**

----------------------------------------

I want to run vulture inside Emacs, so it spots issues as I type. However, vulture assumes that the current file is syntactically valid, and shows a traceback if not.

Given the code:

[code]

I get the following

[2016-07-15 18:42] jendrikseipp opened #18 "why not move to github?"
Originally reported by: **Ioannis Filippidis (Bitbucket: [johnyf](https://bitbucket.org/johnyf), GitHub: [johnyf](https://github.com/johnyf))**

----------------------------------------

It certainly has a better interface, and more interaction with other developers is expected. Also, cross-references between repository issues, watching etc. Fast-export/import should work quite well (it has worked

[2016-10-05 09:55] jendrikseipp opened #19 "Encoding Header line produces error."
Originally reported by: **angelinemm (Bitbucket: [angelinemm](https://bitbucket.org/angelinemm), GitHub: [angelinemm](https://github.com/angelinemm))**

----------------------------------------

I have 'Error in file' on any file that starts with an encoding header comment line. If this is test.py:

[code]
[code]

If I remove the first line it doesn't produces error.

-----------------------------

[2016-10-23 13:56] jendrikseipp opened #20 "support 3.5 async/await"
Originally reported by: **Anonymous**

----------------------------------------

It depends on the runtime, but support for async/await can be easily added (just point from visit_AsyncFunctionDef to visit_FunctionDef)

----------------------------------------
- Bitbucket: https://bitbucket.org/jendrikseipp/vulture/issue/20

[2016-10-31 23:37] jendrikseipp opened #21 "Whitelist defaultdict.default_factory"
Originally reported by: **bitserver (Bitbucket: [bitserver](https://bitbucket.org/bitserver), GitHub: [bitserver](https://github.com/bitserver))**

----------------------------------------

I have a collections.defaultdict(). After I have finished populating it, I have to set its default_factory attribute to None. vulture then tells me that default_factory is an unused attribute, but I can't help

[2016-11-22 22:35] jendrikseipp opened #22 "Vulture doesn't detect unused function"
Originally reported by: **Anonymous**

----------------------------------------

Am I doing something wrong?

[code]

----------------------------------------
- Bitbucket: https://bitbucket.org/jendrikseipp/vulture/issue/22

[2016-11-22 23:11] jendrikseipp opened #23 "API"
Originally reported by: **Lasse Schuirmann (Bitbucket: [sils1297](https://bitbucket.org/sils1297), GitHub: [sils1297](https://github.com/sils1297))**

----------------------------------------

Would be nice to have a way to use vulture programmatically, like:

[code]

We use vulture in coala (coala.io) and that'd make things way more efficient etc. (in memory file passing, we have them already rea

[2016-12-06 19:09] jendrikseipp opened #24 "Better usage information"
Originally reported by: **Drew Ayling (Bitbucket: [drewayling](https://bitbucket.org/drewayling), GitHub: Unknown)**

----------------------------------------

The usage is really confusing and doesn't really provide any insight as to "how" it executes or what PATH is. Is path a file? Path to a module? Path to a package

What is the difference in these?

      $ vulture

      $ vulture .

      $

[2017-01-21 12:38] jendrikseipp opened #25 "use vulture to automatically remove dead code?"
Originally reported by: **Jendrik Seipp (Bitbucket: [jendrikseipp](https://bitbucket.org/jendrikseipp), GitHub: [jendrikseipp](https://github.com/jendrikseipp))**

----------------------------------------

I'm adding this issue since the topic came up in a discussion around GSoC proposals for www.coala.io with @sils1297. The idea was to write a program that uses vullture to find and *remove* dead

[2017-03-06 08:07] #1 closed, assigned to nobody

[2017-03-06 08:07] #2 closed, assigned to nobody

[2017-03-06 08:07] #3 closed, assigned to nobody

[2017-03-06 08:07] #4 closed, assigned to nobody

[2017-03-06 08:08] #5 closed, assigned to nobody

[2017-03-06 08:08] #6 closed, assigned to nobody

[2017-03-06 08:08] #7 closed, assigned to nobody

[2017-03-06 08:09] #9 closed, assigned to nobody

[2017-03-06 08:09] #10 closed, assigned to nobody

[2017-03-06 08:09] #11 closed, assigned to nobody

[2017-03-06 08:09] #12 closed, assigned to nobody

[2017-03-06 08:09] #13 closed, assigned to nobody

[2017-03-06 08:09] #14 closed, assigned to nobody

[2017-03-06 08:10] #15 closed, assigned to nobody

[2017-03-06 08:10] #16 closed, assigned to nobody

[2017-03-06 08:10] #17 closed, assigned to nobody

[2017-03-06 08:10] #19 closed, assigned to nobody

[2017-03-06 08:11] #22 closed, assigned to nobody

[2017-03-06 08:11] #24 closed, assigned to nobody

[2017-03-06 12:13] jendrikseipp commented on #18
I finally got around to moving the repo to GitHub. I'll delete the bitbucket repo soon and will let it redirect to the new repo. Feel free to reopen this issue if you find any breakage.

[2017-03-06 12:13] #18 closed

[2017-03-18 15:29] jack17529 commented on #20
@jendrikseipp sounds great I am applying to work on this project in coala organization can you please guide me

[2017-03-18 15:34] jack17529 opened #27 "Repository's readme file does not contain info about vulture."
Should specify the link to the docs and developers docs.

[2017-03-18 16:57] jendrikseipp commented on #27
I linked the TODO and NEWS files from the README. There are no dedicated docs and developers docs yet, so I'm closing this for now. Feel free to reopen once we have such docs.

[2017-03-18 16:57] #27 closed

[2017-03-18 18:04] jendrikseipp commented on #20
Sounds good! For this issue, you'll have to point from visit_AsyncFunctionDef to visit_FunctionDef and add a test case to `test_scavenging.py` that tests the new language constructs. You'll have to make sure that the test only gets executed under the Python versions that support the language feature.

[2017-03-20 06:31] jack17529 commented on #20
@jendrikseipp I am on it sir.

[2017-03-21 08:22] jack17529 commented on #20
@jendrikseipp  Sir can you please join https://gitter.im/coala/coala/gsoc and other gitter rooms  or if you don't like please send me your email id , either way you want to communicate as I am currently reading the code of vulture repo.

[2017-03-21 08:39] jendrikseipp commented on #20
The best way to reach me is via email. I added my address to my profile
page https://github.com/jendrikseipp.

[2017-03-24 18:42] RJ722 commented on #21
Hi @jendrikseipp!
I am new to vulture and would like to work on vulture, can you please guide me through how to configure development environment and what would be the workflow involved?

Also, I would like to solve this bug. Can I send a PR?

[2017-03-25 06:43] jack17529 opened #28 "PEP 8 convention not followed in vulture.py."
self.code = None should be changed to is None.

[2017-03-25 06:43] jack17529 commented on #28
@jendrikseipp please assign this to me.

[2017-03-25 07:41] jack17529 opened #29 "Installing vuture in development environment."
Readme does not show how to use vulture in development environment.

[2017-03-25 07:41] jack17529 commented on #29
@jendrikseipp assign me this issue.

[2017-03-25 09:03] The-Compiler commented on #28
`= None` is an assignment, and is different from `== None` (which is a comparison and should be `is None`)

[2017-03-25 09:58] jack17529 commented on #28
@The-Compiler very sorry just forgot about that.

[2017-03-25 09:58] #28 closed

[2017-03-26 10:27] jack17529 commented on #25
@jendrikseipp  FLAKE8 can be integrated I think - see this video
https://www.youtube.com/watch?v=TDUf93vqq3g

[2017-03-27 06:35] jendrikseipp commented on #29
If you want you can prepare a PR with your proposed changes, but I'm unsure what you're proposing, so it might not get merged.

[2017-03-27 06:37] jendrikseipp commented on #25
@jack17529 Can you please write what your concrete suggestion is?

[2017-03-27 06:58] jendrikseipp commented on #21
To sum up the status of this issue: We want to create a `whitelist_python.py` file similar to the existing `whitelist.py` file. For now, it should contain

[code]

(Note to myself: default_factory can't be passed to defaultdict() as a keyword argument.)

Vulture doesn't need any special development setup, as far as I can tell. The workflow is that you clone the repo, create a new branch "python-wh

[2017-03-27 12:53] jack17529 commented on #29
So which development environment should we use @jendrikseipp ?

[2017-03-27 17:42] jack17529 commented on #29
I think virtual environment will be the best.

[2017-03-27 20:25] jendrikseipp commented on #29
Of course, but this is the same for any python module, so it doesn't
need to be documented in the vulture README.

[2017-03-28 08:55] #29 closed

[2017-03-29 07:29] RJ722 opened #31 "Make vulture available as a library"
Reference: [coala vulture project](https://projects.coala.io/#/projects?project=vulture_dead_code_removal)

IMO, what we implicate when we say that make vulture available as a library is to perhaps extend the functionality of vulture to be directly incorporated in code, rather than just as a command line feature.
But we already have `vulture.scan()` for that, so I am a little confused on what else

[2017-03-29 07:43] jack17529 commented on #21
@jendrikseipp , but this was a proposal issue?

Can we solve proposal issues right now ?

[2017-03-29 08:55] RJ722 commented on #21
Hi! @jack17529
Proposal issues don't mean - solve them as a part of GSoC proposal, they are just changes which are proposed and can apparently be solved any time!

Hope so, I have cleared the confusion! :smile:

[2017-03-29 10:23] jack17529 commented on #21
Okay then I can solve all of them right now that seems lot of work thanx man @RJ722

[2017-03-29 10:33] RJ722 opened #32 "Add test for whitelist.py"
While writing a test case for whitelist_python.py, I realised that we can potentially write a test case that can check whether or not *whitelisting* works or not and would it give an error if whitelist.py is not supplied!

Is it feasible to do so @jendrikseipp?

[2017-03-29 11:48] jack17529 commented on #32
What are you trying to tell vulture works the way you like it -

If you want you can use -
$ vulture myscript.py

Or if you want you can use
$vulture myscript.py whitelist.py

Your issue does not make any sense .

[2017-03-29 11:49] jack17529 commented on #32
Please first read the code don't file hypothetical issues.

[2017-03-29 11:50] jack17529 commented on #31
@RJ722  first read the code , don't file any issues before that

[2017-03-29 12:40] jendrikseipp commented on #32
In `test_script.py` there is already a function that tests missing files: `test_missing_file()`. I don't think we need additional tests. Keep in mind that for vulture there is no difference between "normal" Python files and whitelist Python files.

[2017-03-29 12:40] #32 closed

[2017-03-29 12:43] jendrikseipp commented on #31
This is a duplicate of #23. Let's continue the discussion there.

[2017-03-29 12:43] #31 closed

[2017-03-29 12:45] RJ722 commented on #32
$ vulture myscript.py

What if `myscript.py` contains functions which are needed to be whitelisted? -  we would need `whitelist.py` as you stated:

$vulture myscript.py whitelist.py

that's why we are creating a test for it :smile:

Please don't be so rude while giving critique! :confused:

[2017-03-29 12:53] jendrikseipp commented on #23
I think a first step for this issue could be to implement the `find_unused_code` function as specified above with the functions available in vulture at the moment, i.e., `Vulture.scan()`, `Vulture.report()` or `Vulture.unused_funcs()`, etc. Once we know what is missing, we can see how to implement it.

[2017-03-29 12:58] jendrikseipp commented on #21
To clarify: this issue is not part of any "proposal". You can solve issues any time you want :-)

[2017-03-29 18:05] RJ722 commented on #25
Hi! @jendrikseipp

I tripped on this:

When we are talking about adding a confidence value to the results, on what basis and in what context could we provide such a data?

Can you please help me out?
Thanks!

[2017-03-29 18:42] jendrikseipp commented on #25
We will probably need to decide about this on a case-by-case basis,
taking into account how Python functions, classes, imports, etc. can be
declared and used. E.g., unused imports can be reported with 100%
confidence, but unused functions can often be false-positives. I think a
first step could be to separate the cases for which we can guarantee
100% certainty and the ones where we can't be sure.

[2017-03-29 18:59] RJ722 commented on #25
Thank you @jendrikseipp
That's great to start with! :smile:
So, we can perhaps begin with these values:

Construct | Confidence
-------------| ---------------
| `import` |  100% |
| `from foo import *` | 0% |
| variables | 100% |
| functions | -- |
| `class` | -- |
|`if False` statement| -- |

Please correct me, if I am wrong!

[2017-03-29 19:17] RJ722 commented on #23
Would it be suitable, if it returns something similar to: ([referred code](https://github.com/jendrikseipp/vulture/blob/master/vulture.py#L193-L194))
[code]
Would a list of all such tuples like
[code]
be feasible?

[2017-03-29 20:43] RJ722 commented on #25
Also, regarding source range acquisition, is it possible to implement this by fetching complete code between the current and the next node?

A simple google search also lead to [ast_utils.py](https://bitbucket.org/plas/thonny/src/862ffe185a40d115a93ebe021fadb8855b2d32f5/thonny/shared/thonny/ast_utils.py?at=master&fileviewer=file-view-default) - I couldn't make a lot of sense out of it, but I guess

[2017-03-30 07:04] jack17529 opened #33 "Mistake in calling function"
When you assign a function to a variable you don't use the () but simply the name of the function.
In your case given def x(): ..., and variable silly_var you would do something like this:
silly_var = x
and then you can call the function either with
x()
or
silly_var()

In test_scavenging.py
func is written instead of func().

[2017-03-30 07:55] jendrikseipp commented on #33
The code actually tested that a function is counted as "used" even if it is only referenced or assigned to another name wihtout being called. The code is therefore "correct" and doesn't need to be changed.

[2017-03-30 07:55] #33 closed

[2017-03-30 08:48] jack17529 commented on #33
As you say @jendrikseipp

[2017-03-30 11:04] jack17529 commented on #20
import sys
 if (sys.version_info > (3, 0)):
     # Python 3 code in this block
     import base64
     return base64.b64encode(data).decode()
 else:
     # Python 2 code in this block
     return data.encode("base64")

as according to Python documentation we can use sys.version_info:
A tuple containing the five components of the version number: major, minor, micro, releaselevel, and serial. All va

[2017-03-30 11:09] jack17529 commented on #20
@jendrikseipp
Should I use this in def visit_FunctionDef(self, node) to make it sync with test_scavenging.py
Or should I make a new function that first checks the version and then only executes vulture.py

[2017-03-30 12:17] jendrikseipp commented on #20
In vulture.py we shouldn't need to add an additional test for Python 3 since `visit_AsyncFunctionDef` will only be called in Python versions that support it. However, you need to skip the test that tests the new feature on older interpreters with the skipif py.test feature: https://docs.pytest.org/en/latest/skipping.html#id1.

[2017-03-30 13:16] jack17529 opened #35 "Optimization of test_scavenging.py"
All tests in test_scavenging.py could use the v() fixture (as some tests already do).
Patch already made by @jendrikseipp  on my issue and changed immediatly.

[2017-03-30 13:17] jack17529 commented on #35
Next time I should report my issue here and not PM them.

[2017-03-30 13:18] jack17529 commented on #35
@jendrikseipp  Please close this issue as file is already been reviewed by me.

[2017-03-30 13:24] #35 closed

[2017-03-30 15:51] jack17529 commented on #20
import sys
@pytest.mark.skipif(sys.version_info < (3,0),
                    reason="requires python3.0")
def test_function4(v):
	v.scan("""\
class Bar(object):
    def foo(self):
        pass

b = Bar()
b.foo
 """)
	assert v.used_attrs == ['foo']
    assert v.unused_funcs == []
	assert v.defined_props == []
    assert v.defined_funcs == ['Bar', 'foo']

Is this right please check.

[2017-03-30 16:35] jendrikseipp commented on #20
It would be easier to comment on a pull request.

- `async def` was introduced in Python 3.5, not 3.0.
- Obviously, the test should use `async def`.

[2017-03-30 22:20] jendrikseipp commented on #23
If it turns out to be useful, we could add a method `Vulture.get_unused_items()` that returns a sorted list of unused Item objects. The filename, lineno and typ attributes can be used to inspect items.

[2017-03-30 22:35] jendrikseipp commented on #25
The idea of checking for misspelled names is interesting, but probably out of vulture's scope.

I don't see how we can use ast_utils.py for determining the range of a node. Instead of get_last_child(), we would need get_next_sibling(), I think.

From my point of view the confidence values are something like:

Construct | Confidence
-------------| ---------------
| `import` |  100% |
| `from foo im

[2017-03-31 05:27] jack17529 opened #37 "--version of vulture"
There is no way to check the version of vulture.

[2017-03-31 08:38] jendrikseipp commented on #37
I agree, this should be added.

[2017-03-31 10:55] jack17529 commented on #23
If no one is working then can I please work on this issue.

[2017-03-31 11:48] jendrikseipp commented on #23
We are already working on this, sorry.

[2017-04-02 07:55] #21 closed

[2017-04-02 12:00] RJ722 opened #38 "Use stdlib whitelist by default"
Whitelists are a great way to tackle false positives, but we have to explicitly mention the whitelist fie every time we execute vulture, so **should vulture use whitelist by default?**

[2017-04-02 12:01] RJ722 commented on #38
IMHO, we can let the user decide - we can have a *configuration file* - For now, it would contain only `whitelist: on/off`,  but it can be easily extended in future for further configuring vulture, if needed.

[2017-04-02 12:35] jendrikseipp commented on #38
I think the whitelists/stdlib.py file should be included by default.
When we have other whitelist files, we can decide how to include them.

[2017-04-02 13:03] RJ722 commented on #38
For extending `whitelists/stdlib.py` - can there be a definitive way of doing so?

What I had been thinking of was to **test it with major projects** (perhaps trending python projects on github) - this would serve us with two benefits:
* We can identify instances of what should ideally be in our whitelist file - as we may find any lesser known constructs (alike default_property itself).
* We would

[2017-04-02 13:23] RJ722 commented on #38
[coala/coala-bears/#1564](https://github.com/coala/coala-bears/issues/1564) will also get addressed through this issues.

[2017-04-02 14:22] jendrikseipp commented on #38
I think this is a great idea! Maybe we can even find projects that
already use vulture or want to use vulture and can work on creating
whitelists together.

[2017-04-02 15:46] RJ722 commented on #38
Should we develop a script which downloads the trending project for the day, execute vulture on it and report the errors, if any!
This way we can ensure that we add something to the whitelist daily.
This would be fun and we can keep developing it - perhaps, may be extend it to e-mail the log to the project maintainer and he can get to us that way.

[2017-04-02 19:27] jendrikseipp commented on #38
I doubt that this can be automated. In any case, automation should not
be the first step :-)

[2017-04-02 19:39] RJ722 commented on #38
:+1:

Already started with the [localstack](https://github.com/atlassian/localstack) repository - trending today! - [Here](https://pastebin.com/Gge1yp3q)'s the log file - I'll analyze the issues, convey them this notice and add anything suitable to whitelist tomorrow morning.

Don't you think that it is gonna be unmanageable if we continue this way, can you please suggest some better workflow thro

[2017-04-02 20:01] jendrikseipp commented on #38
If you have SyntaxErrors like in the log, you're probably using the
wrong Python version for calling vulture.

Something else to consider: If you're running vulture on a library, most
functions will obviously be unused. In this case you should include the
tests.

Before reporting unused code to projects, we should be pretty certain
that the code is actually unused. Unfortunately, this is quite har

[2017-04-02 20:06] RJ722 commented on #38
Thank you!
I'll take this into account :smile:

Just for the initial phase, can I ask you for personal conformation before sending reports!

[2017-04-02 20:14] jendrikseipp commented on #38
Sure.

I think we have to filter out obvious false-positives (and try to add
them to a whitelist file). Then think it's mostly a question of wording:
"Bug: You have the following unused code" is bad wording. "Here is a
list of functions and variables that might be unused" is better.

[2017-04-05 16:17] RJ722 commented on #38
Hi! @jendrikseipp
Since we would be continuing this for a long time, it would be unmanageable if we would keep track of the reports in an issue thread - I thought it would be good if we have a devoted repository for the same: [vulture-analysis](https://github.com/RJ722/vulture-analysis).

I have also created an analysis report. Please have a look.

[2017-04-05 19:07] jendrikseipp commented on #38
Great idea! I added a README.md file for steps for future reports.

[2017-04-06 09:59] mark-summerfield opened #39 "How to whitelist vars in context manager's __exit__() method?"
I've just started to use vulture and already found it helpful.

However, I often have context managers where all I want to do is call a cleanup function and let any exception continue to be raised, e.g.:

[code]
But I can't work out how to whitelist exc_type, exc_val, exc_tb. Is it possible?

BTW I think the docs for whitelist.py could be a bit more explicit. Here's one I'm using which I think sho

[2017-04-07 12:10] RJ722 commented on #38
Hi @jendrikseipp
I added an analysis report for (system-design-primer)[https://github.com/donnemartin/system-design-primer].
I have filed an issue regarding the same - can you please have a look [here](https://github.com/donnemartin/system-design-primer/issues/53). :smile:

[2017-04-07 12:24] RJ722 commented on #38
Hi @jendrikseipp
I added an analysis report for [system-design-primer](https://github.com/donnemartin/system-design-primer) and filed an issue regarding the same - can you please have a look. ([Here's](https://github.com/donnemartin/system-design-primer/issues/53) the link)

Thank You! :smile:

[2017-04-07 12:28] jendrikseipp commented on #38
Nice! For the next report, I think it's better to just copy paste our report (i.e., the complete file including the intro text) into the issue report. vulture-analysis should probably just be for our communication.

[2017-04-08 08:19] jendrikseipp commented on #39
I'd recommend using

    def __exit__(self, _, _, _):
        self.close()

I think this is the standard Python way to signal unused variables.

We're in the process of growing the whitelists/stdlib.py file. Your whitelist file can be shortened to the following, I think:

    # whitelist.py
    from Parser import humanTime, Reader, Chunk, lzw, Normalize
    (humanTime, Reader, lzw.readbytes, lzw.w

[2017-04-08 08:19] #39 closed

[2017-04-08 13:53] RJ722 opened #41 "syntax based errors when running vulture installed through pypi"
I installed installed through pypi for python2.7.12 (in an isolated virtualenv).
Then ran:
[code]
It gave the following output:
[code]
But, since it had based error messages , I tried the same with vulture for python3, still the same results. 😕
Trying a command:
[code]
made it work!
What can be possible reasons?

[2017-04-08 17:41] jendrikseipp commented on #41
It seems that the wrong Python binary gets executed. Not sure why though. Maybe the virtualenv is not set up correctly.

[2017-04-09 03:52] RJ722 commented on #41
Oh! Sorry my bad - Looks like the default python interpreter was set to python3, I was using the machine from my lab, someone might have changed it. :thinking:

[2017-04-09 03:52] #41 closed

[2017-04-20 12:05] audiolion opened #42 "Vulture doesn't handle mixins?"
If I have a mixin with some base code that is going to be used by a number of classes

[code]

Vulture seems to complain that `check_status` is an unused function

edit: maybe this is because `check_status` is called by another mixin

[code]

[2017-04-20 12:10] jendrikseipp commented on #42
Well, it seems none of the subclasses actually call `check_status`. If
it's still a false-positive, you may consider providing an extra
whitelist Python file that explicitly "calls" `check_status`.

[2017-04-20 12:31] audiolion commented on #42
yeah, this happens a lot in Django CBV's. A lot of people argue the implementation is pretty flawed because there is a ton of implicit calls/variables that are used and assigned that are not seen in the code. But running vulture it threw tons of false positives for all my class based views

[2017-04-20 12:34] jendrikseipp commented on #42
Nothing much a static analyzer like vulture can do about this, I guess. The only solution would be to collect implicitly-called methods in a dedicated Django whitelist file.

[2017-04-20 12:44] audiolion commented on #42
Ok thanks, closing this

[2017-04-20 12:44] #42 closed

[2017-05-02 17:00] jfrfonseca opened #43 "PermissionError on scavenging a file in python3.5.1"
When attempting to scavenge a file, raises a PermissionError when attempting to open /etc/cups/ssl

[2017-05-02 17:05] jendrikseipp commented on #43
Could you post the commandline output, please? I guess you'll have to
exclude files and directories for which you don't have read permissions.

[2017-05-02 17:09] jfrfonseca commented on #43
Output of error:

---------------------------------------------------------------------------
PermissionError                           Traceback (most recent call last)
<ipython-input-2-d20cda2fa2e6> in <module>()
     13
     14             obj_vulture = Vulture(verbose=True)
---> 15             obj_vulture.scavenge(diretorio + "/" + arquivo)
     16
     17             mapa_atributos = obj_vult

[2017-05-02 17:11] jfrfonseca commented on #43
Sample code used:

[code]

[2017-05-02 17:13] jfrfonseca commented on #43
The forbidden directories are some of the OS's own files, part of the python parse tree, I guess.

[2017-05-02 17:24] jendrikseipp commented on #43
Well, I think you are probably executing your script in the root
directory "/", right? You will probably have to execute it somewhere
where you have read access.

BTW: vulture will also walk down the directory hierarchy by itself. No
need for your custom script, I think. Just call vulture with the
directories you want checked.

[2017-05-02 17:33] jfrfonseca commented on #43
It does not work when importing the package as a library in the target directory. Notheneless, it works as advertised when used in the manner described in the README.

[2017-05-02 17:33] #43 closed

[2017-05-21 17:08] Pacu2 commented on #25
In couple of projects I've seen "unused" imports, which were used by templating engines.
For example, you can import `Django` filters into `Jinja2` filters file, and access them directly from the template, to do so, you don't need to list them anywhere else. So for me `import` is still < 100%.

[2017-05-23 19:22] RJ722 commented on #25
Hello @Pacu2
I am quite unfamiliar with using Jinja2. But from what I understand, if we import some django filter :
[code]
Then we would still need to pass on the `some_filter`. So, this won't be an unused import after all.
Reference - [This stack overflow question](https://stackoverflow.com/questions/25449879/embed-custom-filter-definition-into-jinja2-template) - I may be completely wrong.

Can y

[2017-06-05 17:42] RJ722 opened #46 "Add appveyor CI"
Add Appveyor CI testing to avoid any regressions from switching from Win32 command execution to python package loading.

Reference: https://github.com/coala/coala-bears/issues/1805#issuecomment-305966858

CC @jendrikseipp @jayvdb

[2017-06-05 22:01] RJ722 opened #47 "unused functions' parameters and unused variables having same names are not reported."
For example. running vulture on the following file:
[code]
we would have following results:
[code]
It should also report that `first_name`, `sur_name` in `line 4` are not being used as in this case:
[code]
which would produce:
[code]

Is this a bug?

[2017-06-06 09:51] #37 closed

[2017-06-06 09:57] jendrikseipp commented on #47
This behaviour is to be expected since vulture doesn't distinguish between "local variables" and "parameter variables". We could actually distinguish between the "defined variable" and "defined parameter". Currently, vulture uses (in line 300)

        elif isinstance(node.ctx, (ast.Param, ast.Store)):
            self._define_variable(node.id, node.lineno)

We would need separate lists for "defin

[2017-06-06 09:57] #47 closed

[2017-06-07 16:08] RJ722 opened #48 "Implement confidence values"
It would be nice if vulture reports a confidence value associated with every result.

Strategy for calculating confidence values:
* `imports` are reported with 100% confidence
* Anything we are not sure about should be reported with 50% confidence
* `*` imports should with 0 % confidence

| Construct | Confidence |
|     :---:      |          :---:    |
|import	| 100%|
|from foo import *	|0%|
|var

[2017-06-07 16:30] RJ722 opened #49 "Implement --min-confidence flag"
Input of the flag should be the minimum confidence value (CV)) - results having a CV lower than this should not be reported.

Usage:
[code]
should only show the results which have a CV >= 70%.

[2017-06-12 15:22] jendrikseipp commented on #23
During our work on https://github.com/coala/coala-bears/pull/1814 we noticed that the existing API already provides all relevant info.

[2017-06-12 15:22] #23 closed

[2017-06-13 07:55] jendrikseipp commented on #38
Getting back to the topic of this issue: vulture should use `whitelists/stdlib.py` by default. For now, I don't think we need an option to disable this feature. @RJ722 Feel free to open a pull request for this.

[2017-06-13 10:18] RJ722 commented on #38
Can we ship `whitelists/stdlib.py` along with vulture?
If so, we can just append `/path/to/whitelists/stdlib.py` in the args! 😛

[2017-06-13 11:40] jendrikseipp commented on #38
Yes, that would be a good plan.

[2017-06-13 23:36] BebeSparkelSparkel opened #51 "unused for loop variable"
Hi, I really like this library.

I'm have been getting unused messages about the variable defined by a for loop which is just a place holder.

Ex
[code]

[2017-06-14 07:58] jendrikseipp commented on #51
It's a common Python idiom to use "_" for unused variables. Vulture won't complain about unused "_"-variables.

[2017-06-14 07:58] #51 closed

[2017-06-14 10:20] RJ722 opened #52 "Package vulture"
We need to provide vulture as a package in order to ship additional package data like whitelists, etc.

Directory structure:
[code]

Refer: https://github.com/jendrikseipp/vulture/pull/50#discussion_r121908392

[2017-06-14 17:36] RJ722 opened #53 "There is no requirements file"
IMHO we should have two files:

`requirements.txt`:
[code]

`test-requirements.txt`:
[code]

[2017-06-14 18:25] jendrikseipp commented on #53
At first I thought this was a good idea, but I don't see why we need them after reading https://pip.readthedocs.io/en/stable/user_guide/#requirements-files, https://packaging.python.org/discussions/install-requires-vs-requirements/ and https://caremad.io/posts/2013/07/setup-vs-requirement/.

[2017-06-14 18:25] #53 closed

[2017-06-15 01:01] BebeSparkelSparkel commented on #51
Thanks that's what I was looking for

[2017-06-22 11:10] RJ722 commented on #52
I think we would need `whitelists/`  in the `vulture` folder, because parent directories (..) are not allowed in the `resource` argument.
Though, this is working for me, I wanted to take a second opinion.

Reference: https://docs.python.org/3/library/pkgutil.html#pkgutil.get_data

[2017-06-22 12:57] jendrikseipp commented on #52
* Yes, we should move `whitelists` into the `vulture` folder.
* We can try to use `get_data`, since later in the scavenge function, we need the file's content anyway.
* get_data returns a binary string, make sure to decode it into a unicode string.

[2017-06-22 20:22] RJ722 opened #55 "Implement a flag for toggling the whitelists off"
After #50 vulture would include whitelists by default. We would need a flag in order to suppress this behaviour. IMHO, this can be:
[code]
or
[code]

CC @jendrikseipp

[2017-06-23 02:18] #46 closed

[2017-06-23 02:46] jendrikseipp commented on #55
I'd rather only add this flag once we really see a need for it.

[2017-06-23 02:46] #55 closed

[2017-06-23 02:52] jendrikseipp commented on #48
What's the status on this?

[2017-06-23 19:13] #52 closed

[2017-06-23 20:30] RJ722 commented on #48
I am sorry for the late reply, I don't know how come this didn't show up in my notifications.

Well, I am done with the basic functionality, it's just I am trying to differentiate between `*` imports and normal imports.
I should raise a PR anyway 😛 .

[2017-06-23 20:50] RJ722 commented on #48
Now, when I look into it, `vulture` doesn't reports `*` imports, so we don't need to do anything. Simply associate 100% confidence with `imports`. 😄

[2017-06-24 04:13] jendrikseipp commented on #48
I have thought about this some more and came to the conclusion that, at least for now, we should add the confidence values where they're actually needed, i.e. in the VultureBear.

[2017-06-24 04:15] jendrikseipp commented on #49
This is unneeded as long as Vulture doesn't provide confidence values. For now, only VultureBear provides these.

[2017-06-24 04:15] #49 closed

[2017-06-25 07:37] RJ722 opened #58 "Allow running "python -m vulture""

[2017-06-25 07:41] RJ722 opened #59 "Choose whitelists depending on used imports"
Turn stdlib.py into "`stdlib`" dir with files "`ast.py`", "`sys.py`", etc. Then if "`ast`" is imported, use "`ast`" whitelist.

[2017-06-25 08:18] #38 closed

[2017-06-28 13:37] jackric opened #60 "Augment output with size of unused functions/variables"
When Vulture finds lots of unused variables and functions in a codebase, it would be useful to show the size (as lines/AST contents/etc) of each entity. This allows a developer to prioritize his purging work, i.e. pick the juiciest low hanging fruit first.

[2017-06-28 13:43] RJ722 commented on #60
Hello @jackric

vulture currently only reports the beginning of the dead code, so we do not have access to the entire entity per se (the complete class, function, etc). We are however working on source range acquisition.
Thank You for the suggestion!

[2017-06-28 16:44] jendrikseipp commented on #60
I think vulture already gives some intuition about the size of the found entities since it prints the type of each entity:
* classes are usually bigger than functions and properties, and all three typically use multiple lines
* attributes, imports and variables are usually just a single line

I don't think printing more information about the size provides much additional help.

[2017-06-28 16:44] #60 closed

[2017-06-29 18:12] RJ722 opened #61 "Differentiate between functions and classes"
Add a “defined_classes” list and store the defined classes there.

[2017-06-29 19:14] #58 closed

[2017-07-03 13:02] jackric commented on #60
@jendrikseipp perhaps you've never run vulture over a significantly sized codebase: I see hundreds of unused functions; I'd like line count per function so that I can sort them.

I'm willing to work on this and make it optional with a command line flag.

[2017-07-03 13:44] jendrikseipp commented on #60
Unfortunately, getting the number of lines from an AST node is not easy (the AST probably could access the bytecode though). We are currently working on getting this information in a separate issue https://gitlab.com/coala/GSoC-2017/issues/122 .

[2017-07-03 20:31] #59 closed

[2017-07-05 07:59] #61 closed

[2017-07-09 21:36] RJ722 opened #67 "Let Item inherit from 'object'"
Let Item inherit from "object", not from "str". The new class needs the members "name", ```__eq__``` (returns name) and ```__hash__``` (returns hash(name)).

[2017-07-12 02:41] RJ722 opened #68 "Use utils.py"
IMHO, many things from `core` can be moved to `utils`, otherwise we may face circular imports.

Our utils may contain:
[code]
We may also export ` _format_path` method as `format_path`:
[code]
Also,
[code]

[2017-07-12 08:14] #68 closed

[2017-07-18 18:21] mjalkio opened #72 "--sort-by-size causes issues with exec"
Hi, I'm experiencing issues with the `--sort-by-size` flag and the `exec` statement. If we have a very simple file `test.py`:

[code]

I can run `vulture test.py` without issues. However, if I run `vulture test.py --sort-by-size` I get the following output:
[code]

Do you have any idea why this is?

[2017-07-18 18:33] roivanov opened #73 "analysis time grow significantly after shipping vulture as a package"
vulture analysis for our project (80k lines) took about 6 seconds _before_ revision 7e41b08cbc7ef3a4076ee84c749a9a8058ed6e0c (Ship vulture as a package. (#54))
Please see attached 1.log

[1.zip](https://github.com/jendrikseipp/vulture/files/1156925/1.zip)

Since after that revision (and for all releases 0.15-0.18) analysis takes 1 hour.
Please see attached 2.log

Truss shows significantly increase

[2017-07-18 21:45] jendrikseipp commented on #73
Thanks for the detailed report! I just pushed 802ab4842483f02a10433635801e0a6247dc068c, which removes the **file vulture.py (for module vulture) not found** output. Does this change decrease the runtime again?

[2017-07-18 22:03] roivanov commented on #73
Yes, this message is gone. Unfortunately runtime still huge. Truss still shows python trying to get lstat64/open64 of vulture* files again and again. Seems like some files not get cached. My guess 'python import something' should keep imported module in memory and not try loading it again.

6.650877    lstat64("/tmp", 0xF8B14F30)                        = 0
 6.650925    lstat64("/tmp/vulture-test",

[2017-07-18 23:22] jendrikseipp commented on #73
I ran strace for revisions 7e41b08 and be25c56 on a small (4K loc) project and didn't see much difference regarding the number of open64 and lstat64 calls (I used "strace -c -e open,stat"):

[code]

I found this SO answer, https://stackoverflow.com/a/25265904, which might be related. The linked slides are very informative. I don't see how this explains why turning vulture into a package slows down

[2017-07-19 18:18] roivanov commented on #73
Attached is truss output for revisions be25c56 and 3787e78 with actual file names replaced with xxx.
You may see that at about line 11900 output starts to differ significantly.
[obf.zip](https://github.com/jendrikseipp/vulture/files/1160032/obf.zip)

The project is django app.

[2017-07-19 22:08] #73 closed

[2017-07-19 23:10] jendrikseipp commented on #72
Thanks for the report! This issue should be fixed now in the repo. Can you confirm this?

[2017-07-19 23:10] #72 closed

[2017-07-19 23:13] jendrikseipp commented on #73
Did I understand correctly that #74 fixes #73 and that the difference of 6s stems from a different slowdown?

[2017-07-19 23:45] roivanov commented on #73
Yes, #74 fixes #73.
I can make another run to compare 0.14 vs 0.19 for 6 to 11-12 second change.
Optionally with profiling.

[2017-07-20 15:03] jendrikseipp commented on #73
That would be great! It would be nice to know where the slowdown comes from. Profiling (e.g., with "python -m cProfile") might shed some light on this.

[2017-07-20 19:31] roivanov commented on #73
Here is the output from python profile commands. Let me know if you need anything else.
Personally, I don't see a big problem of 6s in 0.14 vs 12s in 0.19 since functionality (whitelists) added.

[profile.zip](https://github.com/jendrikseipp/vulture/files/1163472/profile.zip)

[2017-07-21 10:36] #67 closed

[2017-07-23 12:43] jendrikseipp commented on #73
Thanks! I have made various changes to speed up vulture. The most important change is probably cfad66ecc99f9d9053ddc3e896262fe7f069a2b2. It would be interesting to know how long it takes to scan your application with the latest git version of vulture.

[2017-07-24 22:18] roivanov commented on #73
Wow, impressive, vulture is back to 6 sec.
Before (0.19):
real    0m10.527s
user    0m8.613s
sys     0m1.780s

After (latest clone):
real    0m6.298s
user    0m5.790s
sys     0m0.497s

[2017-07-25 06:02] RJ722 opened #78 "Distribute vulture as a wheel file"
Since an installation through python wheels is comparatively faster than a source install, we can distribute vulture as a universal Python wheel.

[2017-07-25 09:46] RJ722 opened #80 "Travis CI failing"
IMHO, it's because Travis recently changed the default environment from `precise` to `trusty` and this had side effects which in turn cause some errors to be raised when testing for`pypi`, therefore failing CI build every time.

I think, an explicit mention of `dist: precise` in `.travis.yml` will fix it.

[2017-07-25 15:04] jendrikseipp commented on #73
Nice, thanks for reporting back!

[2017-07-25 22:00] #80 closed

[2017-07-26 13:56] #78 closed

[2017-07-27 14:27] RJ722 opened #82 "Report any code after return statements"
Report any code which is written after 'return' statement in the same logic level in a function.
For example:
[code]

This should report Line 3 as dead code.

[2017-08-03 14:12] #82 closed

[2017-08-03 16:51] RJ722 opened #84 "diagnose more unreachable code"
vulture should be able to detect unreachable code after the following statements:
* `raise`
* `continue`
* `break`

[2017-08-04 14:42] #84 closed

[2017-08-05 17:49] RJ722 commented on #48
Can we reopen this @jendrikseipp ?

Confidence values:
* Unreachable code - 1.0
* Unused import - 0.9
* other unused items - 0.6

[2017-08-05 19:37] jendrikseipp commented on #48
Sure, good idea. Now that we can detect unreachable code with 100% confidence, it makes sense to show these values in the output.

[2017-08-09 13:41] #48 closed

[2017-08-09 16:10] timjstewart opened #87 "underscore prefix on functions does not prevent an 'unused function' warning."
I'm using the Python library Flask for developing routes.

Here is my route:

[code]

This yields this warning:

[code]

If I add an underscore prefix to the status function name, I get this warning:

[code]

Since the function name is not important to Flask, I can just call the function '_' which yields

[code]

Is there some way of avoiding this warning?

Thanks!

[2017-08-09 21:04] jendrikseipp commented on #87
Prefixing functions with an underscore is not a good solution, I think. A leading underscore signals that a local variable is unused or that a method is "private". I think a better way of avoiding false-positives is to add a whitelist module that "uses" the function and pass it to vulture:

    # Contents of mywhitelist.py:
    import server
    server.status

[2017-08-09 21:04] #87 closed

[2017-08-10 10:08] RJ722 opened #88 "detect unreachable code if the condition is unsatisfiable"
As, the TODO file says, it would consists of:

- [X] Detect unreachable code à la while False: (by implementing Vulture.visit_While(self, node).
- [ ] Detect unreachable code à la if False: (by implementing Vulture.visit_If(self, node).
- [X] ~~Detect unreachable else clauses by detecting if True:.~~ (#90)
- [ ] Detect unreachable code for ast.IfExp.
- [X] ~~Detect unreachable code for ast.Assert.

[2017-08-11 02:29] RJ722 commented on #88
Won't assert statements throw up errors if unsatisfied?

[2017-08-11 09:15] jendrikseipp commented on #88
`assert False` means that the code is either never reached or will throw an AssertionError when reached. But you're probably right. There may be cases where `assert False` is intended. Let's not try to detect unsatisfiable assert statements.

[2017-08-12 13:27] RJ722 commented on #88
Hi @jendrikseipp, can we reopen the issue because `if False` statements are yet not reported.

Is this any different from `ast.If`?

[2017-08-12 13:28] RJ722 opened #90 "unreachable else"
Detect unreachable else clauses by detecting if True.

For example:
[code]

[2017-08-12 13:40] jendrikseipp commented on #88
Let's do ast.If before we look into ast.IfExp. We can handle ast.IfExp in a separate PR. An example for ast.IfExp is `a = 1 if False else 2`.

[2017-08-13 23:00] jendrikseipp commented on #90
Fixed by #91.

[2017-08-13 23:00] #90 closed

[2017-08-13 23:01] jendrikseipp commented on #88
I don't think it's worth the effort to catch unsatisfiable ast.IfExp conditions. Therefore, I think we're done here :-)

[2017-08-13 23:01] #88 closed

[2017-08-23 07:31] The-Compiler opened #92 "Filtering items with a regex"
I currently have [a custom script](https://github.com/qutebrowser/qutebrowser/blob/master/scripts/dev/run_vulture.py) to run vulture for two reasons:

- Dynamically generating a whitelist.
- Filtering any functions matching `[a-z]+[A-Z][a-zA-Z]+` because those are typically virtual methods provided by Qt/PyQt, i.e. from C++ - any Python methods are named `snake_case` in my project.

Unfortunately,

[2017-08-23 08:48] jendrikseipp commented on #92
I think your second solution is better since it allows you greater freedom: using regexes can solve the easiest cases, but will often be insufficient. For example, I can think of scenarios, where you want to take into account the filename in addition to the function name. This solution can be implemented by calling `Vulture.get_unused_code()` and filtering the returned list of `Item`s by inspectin

[2017-08-23 08:53] The-Compiler commented on #92
I'm aware, that's what I'm doing currently. Like outlined above, this means I need to reimplement `Vulture.report` (which can break e.g. because `Item.lineno` was renamed).

I'd rather use vulture's `report` function, but this means I need to be able to pass a filter to vulture somehow, or to pass a list of items to `report`.

[2017-08-23 09:04] jendrikseipp commented on #92
I think the `report` function should only be used as-is, if vulture is used as a script. Probably, it shouldn't even be a method, but a function outside the Vulture class. I agree that formatting the report lines is tedious and bound to break with vulture upgrades. What do you think about adding a `report` method to `Item` that prints the formatted line to stdout? Then your sutom report() function

[2017-08-23 09:09] The-Compiler commented on #92
That sounds like a great idea! Maybe for programmatical use, it should just return the string instead of printing it (maybe call it `format_report()` then?), though for me both is fine. Then the custom report would do `print(item.format_report())` or so.

It probably needs `sort_by_size` passed as well, as the report changes based on that.

[2017-08-23 11:06] RJ722 commented on #92
A `format_report` function would offer great flexibility. :smile:

@jendrikseipp can I send a PR?

[2017-08-23 11:40] jendrikseipp commented on #92
Sure 🙂 please call the method get_report.

[2017-08-24 03:51] The-Compiler commented on #92
Thanks @RJ722! If you do, can you please @mention me or add a comment here so I don't miss it? 👍

[2017-08-25 21:15] #20 closed

[2017-08-28 07:17] #92 closed

[2017-08-31 05:30] kmarekspartz opened #95 "Ignore unittest.mock return_value?"
In a file with a bunch of mocks, I'm seeing a bunch of these false positives:

`tests/test_filename.py:555: unused attribute 'return_value' (60% confidence)`

Mocking and dead code don't feel like they go well together...

Ignore this test file for now.

[2017-08-31 06:52] jendrikseipp commented on #95
Thanks for the hint. We should add `return_value` (https://docs.python.org/3/library/unittest.mock.html#unittest.mock.Mock.return_value) to the `unittest` whitelist file.

[2017-09-29 08:00] jendrikseipp commented on #25
Automatic dead code removal is now a feature in coala (thanks to @RJ722), so this issue can be closed.

[2017-09-29 08:00] #25 closed

[2017-09-29 08:08] #95 closed

[2017-09-30 13:59] thisch commented on #25
@jendrikseipp, you mean that the automatic dead code removal was introduced in https://github.com/coala/coala-bears/pull/2000?

[2017-10-26 14:00] RJ722 opened #100 "Detect while True: else statements"
vulture currently detects the case when a `else` block is associated with an `if True` statement, but does not do so in the case of a `while` loop.

For example, the following example wouldn't be detected as unused code:
[code]

[2017-10-26 14:26] jendrikseipp commented on #100
Good catch!

[2017-10-26 14:43] RJ722 commented on #100
I would like to submit a PR. 😄

[2017-10-26 18:03] jendrikseipp commented on #100
Perfect!

[2017-10-28 14:51] RJ722 opened #101 "Add CONTRIBUTING.rst"
Add a CONTRIBUTING.rst file to [vulture](https://github.com/jendrikseipp/vulture). It should include the following information:
* How to setup a virtual environment?
* How to install the development version of vulture?
* Coding standards
    - Ensure that people send a PR from a branch other than the `master` branch.
    - How to name the branches?
* How to send a Pull Request?
* Be polite and wai

[2017-10-28 14:54] jendrikseipp commented on #101
Good idea!

[2017-10-29 07:54] RJ722 commented on #101
I forgot, it should also contain instructions on how to
* Install `tox`
* Run tests locally.

[2017-10-29 08:48] #100 closed

[2017-11-29 00:41] latteier opened #103 "Items mistakenly shown as used"
Vulture looks great! I'm evaluating it to use on a large code base.

One issue I'm running into is that because `_get_unused_items` looks items up by name, if I have one module with a used function `foo` and another module with an unused function `foo`, the unused `foo` won't be reported as unused, since when looking in the list of used names it will be found.

I would guess that the fix would be

[2017-11-29 02:01] RJ722 commented on #103
Hi @latteier!

That would actually be hard to implement because of how ast's work. Also, even if implemented, it would break "whitelisting" - where we create another package containing the pseudo dead code.

To overcome this problem for now, may be, you can run this on individual files and then on the whole codebase - and thereafter examine the results.

Let us know if we can help! 😄

[2017-11-29 02:31] latteier commented on #103
Thanks for the quick response! I've been thinking about the issue some more and agree that it would be tricky to implement.

It seems like finding unused code within the context of a single file is the most reliable mode of operation. However for the codebase I'm working with it would be useful to know whether seemingly unused names are imported and used elsewhere. I'll think more about how to tes

[2017-12-28 00:44] #101 closed

[2018-01-10 16:54] estevopaz opened #105 "Missing check of script files because not ends with .py"
Hi, please feel free to include my code if you wish:

    def is_python(file_path):
        '''Check if file is a python file.'''
        if os.path.isfile(file_path) is False:
            return False
        if file_path.endswith('.py'):
            return True
        # Check also html files because Jinja templates
        if file_path.endswith('.html'):
            return True
        _, exten

[2018-01-10 18:28] RJ722 commented on #105
Hi @estevopaz!

Currently, we are using just one check: `path.endswith('py')`, which is mostly sufficient. I haven't really thought of the idea of checking a shebang, it looks good, but is it really required?
What are the possible scenarios where a file might have shebang, but does not ends with `.py`?

Thank You for your contribution!

[2018-01-10 19:03] jendrikseipp commented on #105
I think there are too many corner cases for this to work reliably automatically. In my opinion it's best to list the files that are not ending with .py manually (or with bash glob patterns).

[2018-01-10 19:03] #105 closed

[2018-01-10 23:52] estevopaz commented on #105
Ok, thanks for replay.
And no, in my case just .py is not enough.
In our projects, all under bin/ and installed into system by setup.py is without .py extension.
I don't see a problem check if a file starts with "#!/usr/bin/python3" for instance, but I respect your decision.

[2018-01-13 10:13] sobolevn opened #106 "Configuration options"
Hello, thanks for the awesome package!

I have a few questions/suggestions:

1. What is the way to configure `vulture`? As I get it now the only possible way is command line arguments. Which can be rather long or complex. A common way to configure something in `python` is supporting both `.vulture.ini` and `setup.cfg`. I personally prefer `setup.cfg`.
2. Is it possible to ignore some lines from au

[2018-01-13 10:37] RJ722 commented on #106
Hi @sobolevn!

Yes, indeed, command line options are the only way to configure vulture right now. Having a `.vulture.ini` file would be an overkill IMHO for such a simple task. You can always use aliases if you find the commands are too long.

To avoid it being detected as dead code, you can whitelist `better_exceptions`, just create an additional file named `whitelist.py` (or whatever you wish to

[2018-01-13 10:56] sobolevn commented on #106
Thanks for the quick answer.

`whitelist` solves this issue, but again: I have to do several things to configure several different tools to ignore the single line.

1. Configure `flake8` with `# noqa` comment
2. Configure `vulture` with `whitelist.py` in root folder

It seems that supporting `# noqa` (or similar), which is very popular among python developers, would make your API more friendly. He

[2018-01-13 11:03] jendrikseipp commented on #106
Point taken, but I consider it a strength of Vulture that you don't have to litter the code with comments or workarounds. Other tools may not have the possibility of something like whitelist files, which is probably why they resort to such measures like `# noqa`. Personally, I believe that stuff like this decreases code readability.

[2018-01-13 14:11] RJ722 commented on #103
So, can we close this issue?

[2018-02-08 21:28] szborows opened #107 "Support for nolint-like comments"
Sometimes function is not used, but it is on purpose. Example: could be Celery workers' tasks.

There should be a way to mark functions as intentionally non-referenced.

Proposal:
`# vulture-ignore: unused-function`

[2018-02-10 05:32] RJ722 commented on #107
HI @szborows!

You can add a whitelist file and add a variable named exactly the same way as the unused function!

Comments reduce the readability of the code.

[2018-02-10 12:18] szborows commented on #107
I respect your POV but I disagree with it. Here's why:

- this separate file is like configuration file. Zero-conf tools are more attractive and easier to both execute and start with
- easier refactor: It's easier to change single place than two (e.g. function name). With Celery it's even more important, because function name is usually also a task name
- coupling: it's better when things are near

[2018-02-11 11:44] jendrikseipp commented on #107
I agree that it would be nice if we didn't need an extra whitelist file, but altogether I believe inline nolint comments have more drawbacks than advantages:

* Code is cluttered by nolint comments
* No easy way to see all dead code (whitelist file provides such a list)
* Additional code for this feature would be needed (whitelist does not need special code)

The fact that both the code and the wh

[2018-02-11 11:44] #107 closed

[2018-02-11 11:44] #106 closed

[2018-02-11 11:44] jendrikseipp commented on #103
I think we can :-)

[2018-02-11 11:44] #103 closed

[2018-03-29 17:39] RJ722 opened #108 "Use the logging module"
Currently, vulture uses the naive way of managing the logs by directly saving them as strings and printing them to `stdout` whenever in verbose mode. An alternative way of managing logs is through the python's [logging module](https://docs.python.org/3.5/library/logging.html).

[2018-03-29 20:37] jendrikseipp commented on #108
I agree that the logging module seems like an obvious choice, but I see no real advantage using it. If you see one, feel free to reopen :-)

[2018-03-29 20:37] #108 closed

[2018-04-23 08:51] AbdealiJK opened #109 "Write script for generating whitelist (was: False Unused function - ignoring APIs)"
I was using vulture for my flask based API and found that it marked every API function I had as a "unused function".

Example:
[code]

Is it possible to make it such that if a specific decorator is used (possibly a regex for this) we can ignore the result ?

In general flask applications will have Blueprints with the name `.*api\..*` (example: profile_api, user_api, book_api, etc.) and flask appli

[2018-04-23 08:53] AbdealiJK opened #110 "False unused variable - database models"
If I have a schema (Marshmallow schema), or model (SQLAlchemy model?), all the fields of the model are detected as unused.

Example:
[code]

These 4 variables are "unused" according to vulture ... but I do need them in my database-table/schema.

Not sure how to ignore these sort of results from vulture.

Note: I do have functions in my schema like `add_role()` or `touch_time()` etc. So, I do not w

[2018-04-23 12:52] RJ722 commented on #110
Hi @AbdealiJK! You can add a whitelist to your project which contains all the variables which are being reported as unused.

For now, your whitelist may contain:
[code]

[2018-04-25 07:03] RJ722 commented on #109
Hi @AbdealiJK!

We tried building a default whitelist for popular web-frameworks, particularly flask and django, but we couldn't come up with anything definitive. But, this approach is quite intriguing, I had not thought about this earlier. Thank You for the suggestion! :-)

We currently use the following mechanism to know about what to ignore.
[code]

From what I see, we can introduce regex for e

[2018-04-25 07:10] AbdealiJK commented on #109
The regex would always be nice to make it more generic I guess.
But just want to mention that the edges for those 4 ignores would not help for flask APIs as we need a regex for the decorator.

[2018-04-25 07:12] AbdealiJK commented on #110
I would need to maintain a very large list here... Typical SQL schema have 40-50 tables for mid-sized projects. Even with 10 columns per table that is 300 variables I need to mention here

[2018-04-25 07:15] RJ722 commented on #110
I suppose that you would have a file dedicated to schema and/or ORM. If whitelisting is too much overhead, may be just ignore the whole file. Is it feasible?

[2018-04-25 07:25] RJ722 commented on #109
Oh yes, forgot about that. We would need an additional check in the `visit_FunctionDef` method. That won't be too tough. But, IMHO the main problem would be that for this level of customisation, command line arguments aren't very suitable. We would need something permanent, but we sure don't want config files. Configuration through `whitelist_utils` seems like a way, but we would need @jendrikseip

[2018-04-25 07:49] jendrikseipp commented on #109
You can already exclude specific files with the `--exclude` option.

I think the whitelisting could be made easier by generating an initial whitelist automatically and let users adapt it to their needs. Maintaining a list of regexes sounds tedious. Let me quote myself in a recent mail:

"I believe a different approach could be to let users run `coverage.py` (https://coverage.readthedocs.io/) on th

[2018-04-26 12:08] AbdealiJK commented on #110
I actually have a whole folder with these and they do contain a lot of other code other than just the schema info.

For example, I would want to check if I am using the function called `add_role()` in my code or not. The function is in the schema definition as it is modifying the data in my model.

So - yes. I can ignore my entire file. But that is going to ignore more than I want

[2018-04-26 12:09] AbdealiJK commented on #109
Ah, I was thinking the user would maintain the list of regexes not you guys :)
The coverage idea sounds cool.

[2018-04-26 14:13] RJ722 commented on #109
The XML reported by coverage.py is of the form:
[code]
It only gives information about the line number and not the name of the unused code. Also, I don't have a very good experience with line number approximations either - In this case, `unused.py` looks like following:

(The unused function starts at line no. 5)

[code]

[2018-04-26 18:39] RJ722 commented on #110
In that case, the only way we can achieve this with the current infrastructure would be to move the "dynamic" part of your code in the schema to a `utils` module and then excluding the schema only files by using something like:

`vulture . --exclude schema`.

[2018-04-26 19:14] jendrikseipp commented on #109
Hmm, interesting. I looked into this a bit and think we'll have to implement our own script for tracing which functions, attributes, variables, etc. are used. For this, I think we need to use `sys.settrace` (https://docs.python.org/3/library/sys.html#sys.settrace). The trace module does something similar (https://github.com/python/cpython/blob/3.6/Lib/trace.py) and also uses `sys.settrace` but it

[2018-05-02 07:54] jendrikseipp commented on #8
I think you mean `tox -e vulture`?

Maybe the two virtual functions are not explicitly marked as virtual (I don't know how sip files work)?

@The-Compiler, can you help us out here?

[2018-05-02 08:00] jendrikseipp commented on #109
We will also have to figure out how the tracer script can be called for web applications. Maybe @AbdealiJK knows how we could do this.

[2018-05-02 08:03] jendrikseipp commented on #110
I agree that separating the schemas from the code and excluding the schema files when running Vulture is one option. I think a better solution could be to use the tracer idea from #109.

[2018-05-02 08:03] #110 closed

[2018-05-02 09:40] jendrikseipp commented on #109
Interesting! I completely agree that we should use coverage.py for obtaining the names all used functions and variables if possible. However, I'm not sure how the file tracer in the Coverage API helps us. Maybe it's best to ask Ned directly :-)

@nedbat: We would like to find out the names of all functions, methods, classes, variables, etc. that are used during the execution of a Python program. U

[2018-05-02 11:52] nedbat commented on #109
Hey there! You will need a trace function.  Writing your own doesn't have to be complicated, though you are right there are details like subprocesses that can be a pain.  Writing a file tracer plugin could be a way to piggy-back on coverage.py.

Getting function names wouldn't be hard, since you can inspect the frame object in the trace function to get what you need.  Variables are harder.

You've

[2018-05-02 14:28] The-Compiler commented on #8
I agree about the false-positives. `dnsResolve` and `myIpAddress` are exposed to JavaScript via the `@_js_slot` decorator and vulture can't catch that. Dunno about `qCleanupResources`, that's some internal PyQt-thing probably, which is called from C++ but without being actually something from Qt.

I agree about `interceptRequest` and `requestStarted` - those should be virtual. I'm not sure whether

[2018-05-02 17:01] RJ722 commented on #8
So sorry, my bad! :-p

I am looking into it.

[2018-05-02 17:10] jendrikseipp commented on #109
That's a very good idea, @nedbat, thanks!

I think we should allow passing a coverage.py XML file to Vulture. Instead of reporting all unused code, we can then collect a list of false-positives, i.e, items that Vulture detects as unused but which are reported as used in the XML file (since we know the filename and line number for all items that Vulture detects as unused). Then we can output the fa

[2018-05-02 19:59] AbdealiJK commented on #109
Just thinking this through in my head...
If I have a file with:
[code]
coverage will tell me the line 1 `def abc...` is executed but  line 2 `return ...` is not executed.

So, we need to check if all lines inside that function have been unused, not the definition line.

[2018-05-03 15:19] jendrikseipp commented on #109
That's a good point! Unfortunately, I can't think of a simple solution that allows us to use the XML file output by coverage.py for all different types of unused code (variables, classes, functions, etc.).

[2018-05-03 18:31] RJ722 commented on #109
Let me suggest a hypotheses (which is probably wrong):

Let's say that we find a line which is reported as unused by coverage.py, and then we locate that element in the ast. If we look for it's parent, it must be one of the following:
- `if` (something evaluating to False)
- Function Definition
- Class Definition
- Module (If global code)

If we keep on traversing the ast for the parents in the ex

[2018-05-04 11:12] jendrikseipp commented on #109
If Vulture says that a function is unused, we can check whether this is really the case by checking whether the next line is marked as unused in the coverage.py XML file. The same approach should work for properties, but I don't see a way to check whether classes, variables, attributes are used. Maybe checking functions (and properties) for false-positives is already useful enough.

[2018-05-04 11:33] AbdealiJK commented on #109
That would be a good first start - but just being devils advocate when I
say: If Docstrings, comments, etc. are the first line then we should be
careful :)

On Fri, May 4, 2018 at 4:42 PM, Jendrik Seipp <notifications@github.com>
wrote:

[2018-05-04 11:43] jendrikseipp commented on #109
I don't think that should matter. The only problem I see are functions that are defined on one line, which I'd say we can ignore.

[2018-05-16 19:56] Erotemic opened #112 "Feature Request: Differentiate functions and methods"
I think it would be useful differentiate functions from methods.

Consider this use case:

We have a class defined in an external package. It expects a third party to inherit from that class and define a special abstract method. Then when the "run" method of that class is called it does something with that special abstract method

[code]

In this case running vulture will report that `callback` is

[2018-05-16 21:32] jendrikseipp commented on #112
I'm used to the following terminonlogy: *methods* belong to classes and *functions* are defined outside of classes. Therefore, I'm a little confused by the issue title: I only see methods in your example. Can you clarify, please?

I think in your example, one solution could be to include the external file in the list of files passed to Vulture. Then no method would be reported as unused.

[2018-05-16 22:59] Erotemic commented on #112
You have the correct understanding of functions and methods. I was simply giving an example where I wouldn't want to have a method printed. Simply image there is a function there that I want.

It should be a relatively simple matter to differentiate them. Simply have the ast visitor keep track of its scope and when the current scope is a class, any functions that are encountered can simply be labe

[2018-05-23 19:29] jayvdb commented on #108
Note the following isnt a definitive reason for using logging ; I'm only suggesting this is one possible use-case which might justify the additional work/complexity.  Maybe it might also spark other ideas.

As coala uses vulture as an import instead of cli, the `logging` system processes these messages in a much more reliable manner than them appearing on stdout, especially relevant for multi-thre

[2018-05-23 21:58] jendrikseipp commented on #108
I think Vulture currently makes three different types of output:

* Vulture.report() reports unused code. This should probably keep printing to stdout.
* There are several error messages printed to stderr. These could be changed to logging.error, but should still land on stderr.
* Vulture._log() prints debugging info. This could use logging.debug, I guess.

We also would have to make sure that usi

[2018-06-01 18:27] RJ722 opened #115 "Document exit codes"
I guess Vulture exits with following exit codes:

Exit Code | Description
--------- | ------------
`0` | Vulture executes successfully and no dead code is found.
`1` | Vulture executes successfully and dead code is found.
`1` | Vulture could not execute successfully either because the specified file wasn't found or the source was corrupt (Syntax errors, non UTF-8 encoding, contains null bytes)

[2018-06-01 21:17] RJ722 opened #117 "Fix tests failing on py3.7"
There's currently one test failing on python3.7:
[code]

Interestingly the same error is raised by `ast.literal_eval` in python2.7 which we bypass in the test.

Error in 3.7:
[code]
Error in 2.7:
[code]

I think we should remove this test, I guess `1-1` isn't of utmost important after all :-p

[2018-06-01 21:51] jendrikseipp commented on #117
I found this issue which explains the change in behaviour: https://bugs.python.org/issue31778.

I think we should change the code to (add appropriate line break)

[code]

[2018-06-01 21:59] RJ722 commented on #117
Yes, let's do that.

[2018-06-02 19:06] RJ722 commented on #115
One more case:

`0` --> show program's version number and exit

[2018-06-02 20:39] RJ722 commented on #115
@jendrikseipp do you think that we should have different exit codes for different failures?

[2018-06-03 06:58] #117 closed

[2018-06-03 07:02] jendrikseipp commented on #115
I don't think we need to document the exit code of `--version`. Also, I don't think we need different exit codes for different failures. If the exit code is not 0, users should investigate, regardless of which exitcode is returned. I think most CI tools only distinguish between 0 and non-zero anyway.

[2018-06-03 21:31] RJ722 opened #125 "Test --sort-by-size"
As discussed in #124, the test for `--sort-by-size` is faulty because it never actually calls the underlying function as no dead code is detected on the first hand.

[code]

We'd be needing a completely new kind of test - where we can match the output of vulture to the expected output. This way, we can also test for `verbose` mode.

[2018-06-03 22:34] RJ722 commented on #115
Two more cases:

Exit Code | Description
--------- | ------------
`1` | `--min-confidence` is out of range.
`2` | No input files passed to Vulture or to the `--exclude` flag.

[2018-06-04 06:49] jendrikseipp commented on #125
Let's keep things simple for now and just use

[code]

Testing that the items are sorted correctly, should be done in a test that uses the API (maybe tests/test_sorting.py and in a separate PR), not using the script.

[2018-06-04 07:02] jendrikseipp commented on #115
The last two cases should have the same exit code, since they're both command line usage errors. Let's use 2 for both of them, since this is common for usage errors. So in the table we would have an extra line "2 | Invalid command line arguments".

[2018-06-04 09:44] RJ722 commented on #115
Done!

[2018-06-04 10:04] #115 closed

[2018-06-05 09:08] #125 closed

[2018-06-06 11:42] jendrikseipp commented on #112
Differentiating between functions and methods is tricky. For our purposes methods could be functions with a "self" parameter that are stored as attributes, not as variables. However, we can't differentiate between function and method executions. Therefore, even if Vulture reports an unused method "foo" and an unused function "foo", once either `Foo.foo()` or `foo()` is uncommented in your example,

[2018-06-09 10:09] RJ722 opened #130 "Single source package version"
Currently `setup.py` loads `__version__` from `vulture/__init__.py` which in turn loads it form `vulture/main.py` - this is pretty dangerous  because there is no guarantee that all the dependencies of the package would have been installed and loaded when version is being loaded for. https://packaging.python.org/guides/single-sourcing-package-version/ mentions quite a few ways of dealing with this.

[2018-06-26 12:49] #130 closed

[2018-06-29 08:19] jendrikseipp commented on #109
After inspecting the pull request #133, I think we should make the `--make-whitelist` feature more general by splitting it into two parts:

* `--make-whitelist` writes a whitelist to stdout in the following format: `myfunc  # unused function (foo.py:42)`
* `--coverage-xml` lets Vulture ignore functions that are marked as used in the coverage XML report

I think both features are useful on their ow

[2018-06-29 14:01] RJ722 commented on #109
I concur - I like this design better. :-)

This format greatly simplifies design. Win-win! \o/

I've updated #133 to reflect changes required for `--make-whitelist`. After this gets merged, implementing `--coverage-xml` would become as simple as an if statement.

[2018-06-30 11:40] jendrikseipp opened #136 "Remove (most) mock objects from whitelist files"
We currently mock all objects in our whitelist files, e.g. `whitelist_defaultdict = Whitelist(); whitelist_defaultdict.default_factory`. This has the drawback that we can't test whether `default_factory` really exists (and is not misspelled or missing from the stdlib in this Python version). For non-dynamic objects, we should therefore access the objects directly instead of their mocks. The only p

[2018-07-01 18:18] #136 closed

[2018-07-07 17:51] jendrikseipp commented on #8
What's the status here? Can we link to your repo, Rahul and close this issue?

[2018-07-08 17:21] RJ722 commented on #8
Hey Jendrik,

Ongoing action occurring at https://github.com/RJ722/vulture-whitelist-generators/tree/generate. I've an ongoing [PR](https://github.com/RJ722/vulture-whitelist-generators/pull/1) which is just one final review from @The-Compiler apart from release 1. 😛

[2018-07-14 19:29] jendrikseipp commented on #109
We came to the conclusion that the `--coverage-xml` feature entails a rather complicated workflow and doesn't add much value now that `--make-whitelist` is implemented.

[2018-07-14 19:29] #109 closed

[2018-07-19 01:52] RJ722 opened #140 "List supported interpreters only once."
We should only list the supported python interpreters once (currently they're listed in both
`.travis.yml` and `tox.ini`).

[2018-07-19 08:09] The-Compiler commented on #140
`setup.py` (tags) and `README.md` (described in words) as well - I don't think there's much you can do to change that, though.

[2018-07-20 21:23] jendrikseipp commented on #140
I agree. I'm not even sure whether we can remove the redundancy from tox.ini or .travis.yml, but Rahul will find that out for us :-)

[2018-07-21 18:50] RJ722 opened #141 "Try different tools for code coverage"
Currently, we are using coveralls for keeping the track of code coverage, but it behaves [strangely sometimes][0]. This can be addressed by inspecting whether other tools (like [codecov][1], etc) give similar results?

[0]: https://github.com/jendrikseipp/vulture/pull/139#discussion_r204216657
[1]: https://codecov.io/

[2018-07-24 21:04] jendrikseipp commented on #141
We tried codecov, but liked its output a little less than coveralls. If we ever want to change to codecov, we only need to replace `coveralls` by `codecov` in `.travis.yml`.

[2018-07-24 21:04] #141 closed

[2018-07-27 03:21] RJ722 opened #143 "make_whitelist is not available as an API"
Currently, the `make_whitelist` function creates a whitelist and then prints it to stdout, whereas this function might be useful for other linters using Vulture (e.g., https://github.com/coala/coala-bears/issues/2640) and thus should be a part of the public API.

IMHO, we should return a list from the `make_whitelist` method (much like `get_unused_code`) and utilize it in the `report` method when

[2018-07-27 06:29] jendrikseipp commented on #143
Could you please paste an example snippet showing how you'd like to use the new API?

[2018-07-28 20:47] RJ722 commented on #143
I think that `whitelist_message` can be a method of the `Item` class - This would automatically expose it as an API and then would also enable us to use it internally with the report function.

The API might then be used as following:
[code]

[2018-07-28 21:52] jendrikseipp commented on #143
Sounds good. Let's call the method `Item.get_whitelist_string()` though.

[2018-08-12 20:56] #143 closed

[2018-08-13 06:56] RJ722 commented on #140
There is a tool named [`tox-travis`](https://github.com/tox-dev/tox-travis) which supports [environment detection](https://tox-travis.readthedocs.io/en/stable/envlist.html#advanced-configuration). We can try using it with Vulture, but given the workaround for running tests for py37 (#145) , I think it would rather complicate things. What do you guys think?

[2018-08-13 07:15] The-Compiler commented on #140
I'm -1 on introducing any "magic" for things which get changed once all couple of months/years. It's likely to cause more trouble than it's worth :wink:

[2018-08-13 16:43] jendrikseipp commented on #140
I agree with Florian. Probably best to leave things as their are.

[2018-08-16 22:05] larkost-fetch opened #146 "unittest.TestCase subclasses being marked as `unused`"
I have a good number of test classes in my repository that are sub-classes of my own subclass of `unittest.TestCase` and `vulture` is marking them as `unused class 'Blah' (60% confidence)`. It is not marking the methods in these classes similarly.

A few notes on them:
1. The classes are in files that begin with `test_`, but the Class names do not have `Test` in them (I think that just produces no

[2018-08-16 22:28] jendrikseipp commented on #8
Now that we have a repository for whitelist generators at https://github.com/RJ722/vulture-whitelist-generators, I think we can close this issue.

[2018-08-16 22:28] #8 closed

[2018-08-30 07:26] walles opened #147 "False positives"
Hi!

Try analyzing this program:
[code]

Current output from `vulture` 0.29:
[code]

Expected output:
Nothing.

The `run()` method is what the thread executes when started: https://docs.python.org/3.7/library/threading.html#threading.Thread.run

The `daemon` attribute is used for telling the thread what flavor it should be: https://docs.python.org/3.7/library/threading.html#threading.Thread.daemon

[2018-08-30 07:54] jendrikseipp commented on #147
Yes, I think `run` and `daemon` should be added to a new whitelist for the `threading` module (see `vulture/whitelists`) for examples.

[2018-08-30 09:53] walles opened #148 "False positive II"
[code]

Output with Vulture 0.29:
[code]

Expected output:
None

All the reported variables are used on the last line.

[2018-08-30 10:05] walles opened #149 "getattr()"
[code]

Vulture 0.29:
[code]

The `hej` value is used through reflection.

In the generic case this could be difficult to support, but in this example where it's a fixed string it should be possible for Vulture to see that `hej` is actually used.

[2018-08-30 11:00] walles commented on #148
Or on second thought, is it referring to the `self.` ones?

In that case, maybe refer to the unused variables as `self.url` or `HttpException.url` in the error message?

[2018-09-02 08:26] RJ722 commented on #149
Hey @walles!

Source code for Vulture is mostly written in a way that it doesn't reach out specific cases, but instead generalizes for every possible case. For ignoring `hej` from being reported as unused, you should use a whitelist. :)

[2018-09-02 08:32] jendrikseipp commented on #149
I wonder how often `getattr` is used with a fixed string in production code, since in these cases you could just use, e.g., `apa.hej` instead. If this is a common pattern, I think we could add support for the `getattr` function and count `'hej'` as used.

[2018-09-02 08:32] RJ722 commented on #148
Yups!

Actually, we report them as unused "attributes" rather than variables. But yeah, reporting with the object name prepended might be useful.

[2018-09-02 08:46] The-Compiler commented on #149
I thought the same at first, but here @walles uses the `getattr(object, name, default)` form of `getattr`, which is probably the only valid case of using `getattr` with a fixed string.

Still I expect that to not happen often, because usually you should know what attributes your object has, IMHO.

[2018-09-02 08:47] AbdealiJK commented on #149
From what I've seen - getattr is used for cases where you would normally do:

`apa.hej if hasattr(apa, 'hej') else 9`
Or
[code]

[2018-09-02 08:48] jendrikseipp commented on #148
Since Vulture ignores scopes we can only report `self.url`, but not `HttpException.url`. If we implement this, we need to keep in mind that attributes can be nested, so for `foo.bar.baz` all three parts should be reported. This will make the code more complicated though and I don't think this is worth the effort since the messages already explain what's unused.

[2018-09-02 08:48] #148 closed

[2018-09-04 07:56] jendrikseipp commented on #149
I agree. Let's close this then.

[2018-09-04 07:56] #149 closed

[2018-10-16 14:07] #147 closed

[2018-10-23 13:04] jonapich opened #151 "Next release?"
Good morning! :)

I was about to try out the `--ignore-decorators` switch to skip some checks and after a few puzzling attempts I realized it was an unreleased feature! :man_facepalming:

Was it an oversight? Is there a new release planned soon?

Thank you!

[2018-10-23 16:33] jendrikseipp commented on #151
Thanks for nudging me into making a new release :-) Version 1.0 has just been uploaded.

[2018-10-23 16:33] #151 closed

[2018-10-23 17:48] RJ722 commented on #151
Hey, should we also change the development status from "5: Production/Stable" to "6: Mature"?

[2018-10-23 17:58] jendrikseipp commented on #151
I think stage 5 is fine for now :-)

[2018-10-26 03:42] Dobatymo opened #152 "Ignore type checking imports"
Code like this is common when type annotations in comments are used in Python:

[code]
These will usually show up as `unused import` as they are only referenced from comments.

The code should probably be parsed with a `TYPE_CHECKING=False` in mind.

[2018-10-26 04:04] Dobatymo commented on #112
I also think this would be a very useful feature.

[2018-10-27 15:18] jendrikseipp commented on #152
Could you please link to a project that uses this type of code, ideally directly to the source file?

[2018-10-28 07:00] Dobatymo commented on #152
Random large python project: https://github.com/RasaHQ/rasa_nlu/blob/master/rasa_nlu/components.py#L23-L25

[2018-10-28 17:39] jendrikseipp commented on #152
Thanks! I think it would be good to add a whitelist module for the classes (and maybe other types) in the `typing` module (https://docs.python.org/3/library/typing.html). Pull requests welcome :-) Detecting custom types (like the ones you linked above) is probably out of the scope of Vulture.

[2018-11-23 08:39] jendrikseipp commented on #152
We discussed this further in #153 and found that adding a whitelist for the typing module won't help after all:

The code linked above uses type comments. To identify that the classes are actually used in the type comments we would need to parse the comments, which I think is tedious. Here, a manual whitelist is preferable, I think. More modern type-annotated code needs Python 3.6. There you can a

[2018-12-24 19:58] nbelakovski opened #154 "What is the confidence metric reporting?"
When the program says confidence is 100%, can I take that as a formal guarantee that the code will not be executed? When it's less than 100%, what does that mean?

[2019-02-06 02:59] achillesrasquinha opened #155 "ignore dead code lines captured by vulture"
For example,

[code]

[2019-02-06 08:18] jendrikseipp commented on #155
This is a duplicate of #107.

[2019-02-06 08:18] #155 closed

[2019-02-11 05:28] jayvdb opened #156 "Tests use CaptureResult added in pytest > 3.2.3"
Use of `capsys.readouterr().out` in tests expects the namedtuple CaptureResult, which was added after 3.2.3 (late 2017).

setup.py should list "pytest > 3.2.3" as its requirement, or use normal tuple syntax `capsys.readouterr()[0]`, but even then a minimum version of pytest will be helpful.

[2019-02-11 05:36] jayvdb opened #157 "vulture/core.py is mode 644 and has a hashbang"
vulture/core.py doesnt have any code to handle `__name__ == '__main__'`, so it is not executable, and shouldnt have a hashbang.

[2019-03-21 06:10] zhonhel opened #158 "Does this program can only process one python file once time?"
It is a very nice work ：)

But does this program can only process one python file once time?
What should I do if my python program contains many python files, and running it like ：
python main.py

Thank you very much!

[2019-03-21 06:41] #158 closed

[2019-03-21 10:36] i25959341 commented on #106
I dont see a problem at all with code readability using `noqa`

[2019-03-24 16:41] #157 closed

[2019-03-24 16:41] jendrikseipp commented on #157
Thanks for the heads up!

[2019-03-24 17:04] #156 closed

[2019-05-27 19:25] OddBloke opened #160 "Honour "# noqa: F401" comments"
Our codebase has to work as far back as Python 3.4, which doesn't have the typing module available. As such, all of our type annotations are in strings (so they are lazily evaluated during type checking and ignored when running normally) and our typing imports are conditional, with "# noqa: F401" appended to silence the flake8 warnings.

vulture doesn't honour these comments, and it seems like an

[2019-05-27 19:27] OddBloke commented on #160
Looking through existing issues, I've seen that "# noqa" support has generally been rejected. Hopefully this request for just one specific form of noqa comment will be considered, as in my opinion, it would reduce the barrier to adoption substantially.

[2019-05-28 12:00] jendrikseipp commented on #160
Since Python 3.4 has reached EOL and Vulture stopped testing for this version recently, I don't think Vulture should add workarounds that are only needed for this version. Your problem seems to be more general though. However, I don't understand why you need imports if all your type annotations are in strings. Could you please provide some example code?

[2019-05-30 11:08] pykong opened #161 "Enhancement: Making vulture a flake8 plugin"
I believe `vulture` would make a useful addition to the flake8 plugin ecosystem, as finding dead code as part of the usual lining process would be great.

information on flake8 plugin development:
https://flake8.pycqa.org/en/latest/plugin-development/

[2019-05-30 11:34] RJ722 commented on #161
Hi @pykong,

This seems like a really nice idea, Thanks!

Let's see what @jendrikseipp has to say about this and in the end if we decide to get on with it, I think that I would be up for development as I shall be available for a month or so during late August.

[2019-05-31 08:18] jendrikseipp commented on #161
I agree, that's a nice idea! @RJ722, it would be great if you found the time to work on this! I think https://github.com/PyCQA/flake8-docstrings should serve as a good example.

[2019-05-31 10:15] pykong commented on #161
@RJ722 @jendrikseipp Great to see your enthusiasm.
I am usually very short on time myself but you can count me in if you need help with the development.

Keep in mind `vulture` is vital for any serious python dev because it fulfils an important code quality check no other tool (AFAIK) provides.

[2019-06-06 05:25] finance-oppoin opened #162 "A canonical example of using vulture for a django project in the docs"
I found this issue https://github.com/jendrikseipp/vulture/issues/109#issuecomment-405044730

and I am not very familiar with vulture and was looking at using it for a django project.

If the documentation can include a simple end-to-end tutorial on using vulture in a hello world version of a Django project, it would be most helpful for newbies like me.

Is that something I can help with?

[2019-06-06 06:54] jendrikseipp commented on #162
Maybe you can post the steps you made to use Vulture for Django here and then we can decide whether the info could be useful for others.

[2019-06-20 18:13] Bergiu opened #163 "false flag on overridden methods"
If I override a function from a base class and don't use all parameters, the parameters not used in the overridden method are shown as "unused variable"

Example (from a file called gmb/database/schema.py lines 10 to 12):
[code]

The function is defined in the Enum class and overridden here, but this errors occur:

[code]

[2019-06-20 18:16] jendrikseipp commented on #163
I think the warning is correct, since the variables are really unused. The Pythonic solution would be to use "_" as variable name for the three unused variables.

[2019-06-20 18:16] #163 closed

[2019-06-20 18:41] Bergiu commented on #163
Thanks

[2019-06-25 12:16] lanzz commented on #15
Sorry for bringing a long buried issue back from the dead, but is there any way to _whitelist_ unused function arguments? It is not always possible to rename it with a leading underscore (e.g. when a callback interface passes it as a kwarg).

[2019-06-25 18:26] RJ722 commented on #15
@lanzz you can create a whitelist file containing a variable with same name as your argument.

For example, for the program [above](https://github.com/jendrikseipp/vulture/issues/15#issue-212050245), the whitelist will look like this:

[code]

[2019-07-12 23:58] Varriount opened #164 "Support loading options from a configuration file (pyproject.toml?)"
It would be nice if vulture supported using setup.cfg/setup.ini to retrieve whitelists, exclusions, etc. from.

[2019-07-17 09:32] RJ722 commented on #164
Hi @Varriount,

Thanks for the feedback, but I'm not sure that I entirely get what you're trying to say. Can you please give an example of what exactly are you asking for, please?

[2019-07-23 10:43] karelyatin opened #166 "Tests fails with py3.8"
Unit tests failing with py3.8, On Fedora system tested with tox -py38, Need adoption of vulture code to py3.8.

[vulture]$ tox -epy38
GLOB sdist-make: /tmp/vulture/setup.py
py38 inst-nodeps: /tmp/vulture/.tox/dist/vulture-0.27.zip
py38 installed: atomicwrites==1.3.0,attrs==19.1.0,coverage==4.5.3,importlib-metadata==0.18,more-itertools==7.2.0,packaging==19.0,pluggy==0.12.0,py==1.8.0,pyparsing==2.4.

[2019-08-09 14:22] anowlcalledjosh commented on #160
Even if type hints are specified as strings, you still have to import the things used in type hints to tell the type checker what they are – it doesn't matter if you say `foo: MyObject` or `foo: "MyObject"` or `foo = None  # type: MyObject`, if mypy doesn't know which `MyObject` you're referring to.

[2019-08-09 18:14] jendrikseipp commented on #160
Thanks for the clarification! I agree that honoring F401 noqa comments makes sense. I'd be happy to review a pull request that makes this change.

[2019-08-10 14:30] RJ722 commented on #166
Hello @karelyatin,

Thanks for reporting this. I will take a look. @jendrikseipp can you please assign this issue to me?

Sorry for getting back on this so late. I missed the notification email.

[2019-08-10 14:53] jendrikseipp commented on #166
@RJ722 Great to hear, I assigned you to this.

[2019-08-18 06:51] chay2199 opened #167 "Support for json formatter and other test report formats"
Currently vulture lags a json output and many other test report formats like TAP, JUnit, CheckstyleXML etc. I am happy to provide vulture with a json format and other test report formats will simply follow using coala-json.

coala-json is a python package developed by coala which coverts a json output into various test result formats. These test formats when linked with CIs can automatically produ

[2019-08-18 11:26] jendrikseipp commented on #167
Thanks for the suggestion! I'm not opposed to adding JSON output, but I'd like to do it only if there are some projects that would actually benefit from this feature. Let's use this issue as a forum where people can discuss which report formats would be beneficial for them. Then we can make an informed decision about which formats to support and how to obtain them.

[2019-09-01 22:40] dandersoninc opened #170 ""encoding declaration in Unicode string" with BOM"
Vulture reports ""encoding declaration in Unicode string"" for UTF files saved with a Byte Order Mark with or without the presence of a coding: string in the file.  The workaround is to not save files with BOM, but that plays havok on my git history!

[2019-09-02 07:16] jendrikseipp commented on #170
Thanks for the report! Which OS and which Python version are you using? Could you please post an example file with a BOM?

[2019-09-02 07:51] dandersoninc commented on #170
It was Python 2.7.15 on Windows 10.  Works for any BOM UTF8 file, ie with first 3 bytes as:
byte1 == '\xef'
byte2 == '\xbb'
byte3 == '\xbf'
[bomtest.zip](https://github.com/jendrikseipp/vulture/files/3564975/bomtest.zip)

[2019-09-02 10:14] #170 closed

[2019-09-02 10:21] dandersoninc commented on #170
Thanks for the quick fix!

[2019-09-10 09:36] RJ722 commented on #160
Regarding honoring `# noqa` comments, I think that once we have Vulture available as a flake-8 plugin (#161), we wouldn't need to develop/maintain this functionality ourselves. Am I thinking in the right direction?

[2019-09-10 09:59] The-Compiler commented on #160
@RJ722 I think you're right!

[2019-09-10 10:24] jendrikseipp commented on #160
That's true. The question is whether we want to offer this functionality
to users of standalone Vulture as well. I have no strong opinion on
this, but I think the decision should depend on the complexity of the
patch for this functionality and how many users would like to have it.

[2019-09-14 08:23] Zac-HD opened #172 "Mark imports in `__all__` as used"
I've been experimenting with Vulture on [Hypothesis](https://github.com/HypothesisWorks/hypothesis/tree/master/hypothesis-python/src/hypothesis) - which has found an unused argument I'd like to fix, so thanks! - and noticed that *some* of the imports to [this module](https://github.com/HypothesisWorks/hypothesis/blob/master/hypothesis-python/src/hypothesis/strategies.py) are flagged as unused with

[2019-09-14 08:27] Zac-HD opened #173 "How to ignore `if False:` import blocks?"
For Hypothesis, we have `typing` module imports hidden behind a literal `if False:` at the module level.  It would be more idiomatic to use `if typing.TYPE_CHECKING:`, but of course we can't import that on Python 2 either or the problem would go away :wink:

So is there a way to whitelist this condition without having to list out every different combination of imports we might need?  Or take this

[2019-09-15 19:39] jendrikseipp commented on #173
We're planning to honour "# noqa: F401" comments for "unused" imports, see #160. I think this would cover your use case. If you don't want to wait, of course you can just use a whitelist Python file that lists all typing module types.

[2019-09-15 19:39] #173 closed

[2019-09-15 19:45] jendrikseipp commented on #172
So far, we don't take `__all__` into account, but I think this feature should be added. I'll leave this issue open to address that. Pull requests welcome :-)

In your case, it seems some of your imports are not mentioned in other parts of the analyzed code.

[2019-09-23 20:18] #166 closed

[2019-09-23 20:21] jendrikseipp commented on #166
I went ahead and fixed the tests for Python 3.8. @karelyatin For me only 3 tests failed under Python 3.8 beta 4. Feel free to reopen if there are more tests failing for you under this Python version or any later Python 3.8 version.

[2019-10-15 12:43] onlinejudge95 commented on #161
@RJ722 Happy to look into the issue. I would be making contact for contextual info.

[2019-10-15 13:15] jendrikseipp commented on #161
Perfect, please coordinate with @RJ722.

[2019-10-21 17:39] RJ722 opened #175 "visit_Str is deprecated in Python3.8"
According to https://docs.python.org/3/library/ast.html:

Of all of these, we are only using the `visit_Str` function.

[2019-10-21 18:17] jendrikseipp commented on #175
Interesting! It seems ast.Constant was introduced in Python 3.6. I think we should add a visit_Constant() method alongside visit_Str() to be future-proof.

[2019-10-25 09:09] RJ722 opened #177 "Add test cases for f-strings"
Hi @jendrikseipp,

During PyCon India 2019 devsprints, I was working on the TODO:

But, it turns out that the f-strings are automatically scanned because

Turns out that they are parsed as a `JoinedStr` ast node, which then has a child `FormattedValue` - which will contain references to `Name`, `Str`, operation nodes, etc. Since we already have methods to visit these nodes in place, we're already

[2019-10-25 09:09] RJ722 commented on #177
The only case which didn't work currently was the case of detecting unreachable code in conditional expressions, much like the following:

[code]

But, I could later trace it to the fact that the conditional expressions are being parsed as `IfExp` nodes (which we don't visit) rather than the usual `If` nodes, and thus it's a more broader issue in it's own (will raise another issue if you concur).

[2019-10-25 09:38] jendrikseipp commented on #177
Thanks for investigating! I think we should add tests for f-strings in
any case.

And yes, I do concur regarding the IfExp nodes.

[2019-10-25 11:41] RJ722 opened #178 "Detect unreachable code in conditional expressions"
Extending the  discussion from https://github.com/jendrikseipp/vulture/issues/177#issuecomment-546272060, we would need a method to visit the `IfExp` node.

IMHO, we can define it the same way we define `visit_If`:

[code]

Then, we would also need to change `_handle_conditional_node` method:

[code]

[2019-10-27 20:34] RJ722 opened #179 "Analyze Vulture's output for CPython"
Vulture's output for cpython is actaully quite interesting.

[Here's the link](https://gist.githubusercontent.com/RJ722/79ec52c0f13d9c9c39ae5a2d0ffa9346/raw/661c87a9f32fccaef8881ea7b808dea2c7a0d359/vulture.log) to the complete log (GitHub says the log is too long won't let me embed it here 😅)

To quote @jendrikseipp on this:

Most of the test functions which are being falsely reported as unused ar

[2019-10-27 20:48] RJ722 commented on #167
I will wait for #161 to complete and use something [flake8-json](https://pypi.org/project/flake8-json/) for getting the required json.

[2019-10-27 20:51] RJ722 commented on #167
I actually went ahead and tried writing a patch for it. It's actually non-trivial and looks like this:

[code]

But, it would be a lot of hassle to test and maintain this code, so I'd still recommend waiting for the flake8 plugin.

[2019-10-28 09:42] jendrikseipp commented on #179
Thanks for creating this issue!

I think matching the complete path is a good idea. More specifically, I think all files under a directory called "test" or "tests" should be considered test files.

[2019-10-28 20:09] thisch opened #180 "Add reference to python-dead"
Please add a reference to python-dead in the Readme

https://github.com/asottile/dead

[2019-10-29 11:58] #180 closed

[2019-10-29 18:50] thisch commented on #180
thx

[2019-11-01 19:56] #175 closed

[2019-11-02 10:10] #177 closed

[2019-11-18 19:17] tarkatronic commented on #164
Alternatively, perhaps `pyproject.toml` support would be good, as this is becoming The Way for configuration in the Python world. An example entry for `vulture` might look like:
[code]
This would allow a user to have more determinism in their `vulture` runs, since they would not have to specify command line options every time.

I recently implemented this in [tartufo](https://github.com/godaddy/ta

[2019-11-19 07:58] jendrikseipp commented on #164
@tarkatronic sounds interesting! It would be awesome if you could make a pull request.

[2019-12-11 19:29] impredicative opened #182 "Change the whitelist file extension in readme"
The example `vulture mydir --make-whitelist > whitelist.py` in the readme typically creates an invalid Python file since it lacks imports. Such a file would create a problem for multiple other static analyzers that would find it to be grossly invalid Python code. It would be better if this example were updated to to use the extension `.txt` instead as below:

[code]

The `# Vulture whitelist:` hea

[2019-12-15 08:20] RJ722 commented on #182
Hello @impredicative,

Thanks for the suggestions.

This is actually much more problematic, even with `.py` extension, and part of it has to do with the fact that as Vulture parses the `ast`, it only uses the "names" of the items for comparison, without any information about the ancestry of that node -- https://github.com/jendrikseipp/vulture/blob/master/vulture/core.py#L50-L54

Let me give a more

[2019-12-15 08:24] RJ722 commented on #182
Also, one other fool-proof way to handle ignoring stuff is the flake8 plugin (https://github.com/jendrikseipp/vulture/issues/161), which given the interest of users, I'm now escalating from "might-do" to "will-do-in-next-week-as-soon-as-my-exams-end".

[2019-12-15 15:26] impredicative commented on #182
Also, all other major static analyzers support in-line comments and exclusions, just not vulture. There is much value in supporting an in-line exclusion comment, e.g. "# vulture-off" for all the nodes in that line only. This comment would akso have to be compatible with other comments for other static analyzers that could exist in the same line.

[2019-12-26 08:32] RJ722 commented on #161
Hi everyone, I tried taking a stab at it yesterday (Merry Christmas to you too! :D) - But, it turns out that because of the way flake8 plugin works, a new instance of the plugin class is created for every new file, and it receives the filename/AST of only that file - due to which it isn't directly possible to report code used across different files.

Off the top of my head, I can think of two poss

[2019-12-26 12:28] pykong commented on #161
@RJ722 Thanks for putting up the effort.
Regarding naming. I suggest to just call it it `flake8-vulture`.
This is simple and explicit, follows the naming scheme of other plugins (e.g. `flake8-mypy`) and does not hide the incorporation of `vulture`.

[2019-12-26 13:23] RJ722 commented on #161
@pykong I agree. thanks for your input!

[2019-12-26 16:28] jendrikseipp commented on #161
Thanks for looking into this! Regarding the functionality, I think it's best to ask the flake8 devs how best to accumulate results over multiple files. Regarding the name, I agree that flake8-vulture sounds best.

[2019-12-26 17:08] RJ722 commented on #161
Thanks @jendrikseipp! I've opened https://gitlab.com/pycqa/flake8/issues/603

[2019-12-26 19:16] pykong commented on #161
@RJ722 the maintainer of flake8 over there at GitLab does not seems to be too keen on `flake8-vulture`. Do not mind the heat he's given you. We all agreed on this thread that `vulture` would make a great addition to the flake8 ecosystem.

Now we have to see whether it can actually be made to work. Technically it seems flake8 does not offer the functionality we require to do sojudged from aso's res

[2019-12-27 08:57] jendrikseipp commented on #161
I don't think it's worth fighting an uphill battle. If flake8 and vulture don't fit together, there's no need to try to work around that fact. I think our time is spent better on other usage issues like #160 and #164 .

[2019-12-27 08:57] #161 closed

[2019-12-28 12:41] RJ722 commented on #164
@jendrikseipp I can work on this. However, adding support for `pyproject.toml` would mean having an external dependency `toml`. Are you okay with it?

[2019-12-28 18:32] jendrikseipp commented on #164
Good point. I'm not sure. Having no external dependencies certainly has appeal. Also, it's not clear which TOML library we should use (there are 3 Python TOML libraries). Maybe we should defer this issue until the dust has settled on how to declare options for linters and similar tools.

[2020-01-17 16:19] jbylund opened #183 "False Positive In String Formatter"
Running vulture over

[code]
gives

[code]

but when you run it you see that the code is in fact being exercised.  Thoughts?

[2020-01-17 18:13] jendrikseipp commented on #183
Thanks for the report! Static analyzers like Vulture can't detect this kind of code use. Instead, we'll have to add a whitelist for the methods of string.Formatter (https://docs.python.org/3/library/string.html).

[2020-01-22 19:05] #183 closed

[2020-02-04 21:00] timgates42 opened #186 "Fix simple typo: occuring -> occurring"
There is a small typo in TODO.rst.
Should read `occurring` rather than `occuring`.

[2020-02-04 21:02] timgates42 opened #188 "Fix simple typo: commited -> committed"
There is a small typo in CONTRIBUTING.rst.
Should read `committed` rather than `commited`.

[2020-02-05 16:52] jendrikseipp commented on #188
Thanks, fixed in master.

[2020-02-05 16:52] #188 closed

[2020-02-05 16:52] jendrikseipp commented on #186
Thanks, fixed in master.

[2020-02-05 16:52] #186 closed

[2020-02-27 13:26] HitLuca opened #190 ""Unreachable code after _name_" entries cannot be used in whitelist"
After running vulture in order to generate a whitelist with

`vulture my_module --make-whitelist > whitelist.py`

I noticed that a class of entries cannot silence the script's output (`vulture my_module whitelist.py`), specifically the unreachable code ones.

`# unreachable code after '_name_' (my_module/.../name.py:###)`

I didn't find a way to reliably suppress such outputs when running vulture,

[2020-03-01 16:07] jendrikseipp commented on #190
Thanks for the report! Unfortunately, there is no way to silence such errors at the moment. The assumption is that unreachable code should normally be easy to be removed. Is that different in your code? Can you give an example of where this happens?

[2020-03-01 16:11] HitLuca commented on #190
My use case is of a coworker that is adding some functionality but at the moment it's not fully completed. For that reason he returns early or raises an exception, but after it there's code that needs to be there for a future feature. Whether is bad practice or not I believe there should be an option to stop such warnings

[2020-03-01 16:21] jendrikseipp commented on #190
We'd like to honor `# noqa` comments eventually, but so far no one has made a pull request. See also #160.

[2020-03-02 14:04] chris-rands opened #192 ""unused import" false positives"
Thanks for the nice tool. I've encountered a few "unused import" false positives recently of 2 types. 1st case is where the import is merely tested, e.g.:

[code]

2nd case is in `__init__.py` files, where it is common to import modules that are not directly used in the file

[2020-03-02 14:06] jendrikseipp commented on #192
I agree that we should fix these two cases. Would you like to write a pull request for either of the two cases?

[2020-03-08 20:03] RJ722 commented on #178
Hey, @jendrikseipp can you label this code as "Good First Issue", please? This way, GitHub will show it whenever someone opens https://github.com/jendrikseipp/vulture/contribute (which currently shows not so good first issues 😅).

[2020-03-08 22:44] jendrikseipp commented on #178
Good idea!

[2020-03-09 22:41] jendrikseipp commented on #164
I guess we could make the TOML dependency optional like isort does. Still, it's not clear which TOML library to use.

[2020-03-10 20:49] RJ722 commented on #164
https://pypi.org/project/toml/ seems to be the standard and most popular (more than 18k users according to https://github.com/uiri/toml)

[2020-03-11 02:56] dosisod opened #197 "[Feature Request] Warn about empty files"
Consider the `.py` file below:
[code]
It clearly was commented out, and then forgotten about. It probably isn't mean to be there anymore.

Obviously, there are cases where you would want empty python files, for example, `__init__.py`. In general though, it would be better to tell the user about it.

Open to ideas!

[2020-03-11 03:32] RJ722 commented on #197
Hi @dosisod, thanks for creating this issue.

Although I think your usecase is pretty reasonable, but I think that this feature doesn't fit in the [current] scope of Vulture.

Also, we wouldn't do anything about a commented out piece of code which resides in a file which has other code as well. That behavior could be a little confusing for users.

[2020-03-11 03:42] dosisod commented on #197
It could be commented out code, comments without code, or simply a file with nothing in it. Maybe there could be an option that would enable this behavior, and have it disabled by default.

As long as it does not have any false positives, I don't see any major issues with this addition, though I may be wrong.

[2020-03-11 09:02] jendrikseipp commented on #164
I checked which projects use which toml library:
* toml: black, isort, mypy (WIP)
* tomlkit: poetry

So it seems "toml" is indeed the way to go. Especially, since we only need to load TOML, not modify it.

[2020-03-11 15:32] jendrikseipp commented on #197
I think the idea is interesting, but it's probably such a rare case that files only contain comments that it's not worth the trouble of maintaining the code for reporting them. Also, even a file with only an unnamed string might serve a legitimate purpose, since we can access the string with `__doc__`.

[2020-03-11 15:32] #197 closed

[2020-03-12 17:59] dmcnulla opened #199 "methods called from decorator incorrectly reported"
[code]
[code]
The decorator code is in a different path than I am checking. In this case, starter() is reported as potentially unused. I can cognitively solve that, but maybe you could extend to catch that? This is similar to #7, sorry if it's a duplicate.

BTW, awesome library, I love it.

BTW2, I removed the line numbers in the whitelist, still works.

[2020-03-12 18:08] jendrikseipp commented on #199
Thanks for the report! I think your example contains some typos (or are they intentional?). When I change it to
[code]
I get
[code]

What exactly did you want to report?

That's intentional.

[2020-03-12 18:21] RJ722 commented on #199
when run? I don't think that use of self would be allowed here (or, is it?).

[2020-03-12 18:31] RJ722 commented on #199
I looked into this. It's possible this way:

[code]

And running Vulture runs fine on this -- no output (as expected).

[2020-03-12 18:37] RJ722 commented on #199
Which, now I think of it, gives us a scope of a false negative -- If I add another class with a method named `starter`, to the above file:

[code]

Vulture still produces no output. My hunch is that using `self` in `inner` somehow leaks all attributes in global scope -- but would need to look into this more (which I'd be happy to, but in some time).

[2020-03-12 18:44] jendrikseipp commented on #199
Remember that Vulture doesn't know about scopes. It only knows about defined and used names.

[2020-03-14 14:22] RJ722 commented on #199
Yes, I do in fact stand corrected. Thanks.

@dmcnulla do you have more input from your side -- we ran Vulture on a slightly altered version of the code you provided and ensured that Vulture works as expected.

[2020-03-29 16:23] jendrikseipp commented on #199
Feel free to reopen if the issue persists.

[2020-03-29 16:23] #199 closed

[2020-03-31 10:30] RJ722 commented on #192
Let's fix the first case here. I'd raise a PR.

[2020-03-31 13:00] jendrikseipp commented on #192
Thinking about the first case again, I'm not sure whether we should do anything about it. In the example above, `a` should be reported as unused, I think. Or am I missing something? Do you see an example with a real false-positive unused import?

[2020-03-31 13:27] chris-rands commented on #192
sorry i've not had time to help with any PR, but to clarify the first example:

[code]

[2020-03-31 13:34] jendrikseipp commented on #192
Thanks for the example! However, `a` is still unused, since you import `var` directly as well.

[2020-03-31 13:42] chris-rands commented on #192
true, the actual context i found this is in unit tests where we raise a custom exception/handling when the import is not found. in this case importing `a` is useful without using the import, i guess probably better to white list it though

[2020-03-31 13:46] jendrikseipp commented on #192
I agree. If you find an example where we should adapt Vulture, feel free to post it here.

[2020-03-31 13:46] #192 closed

[2020-03-31 13:47] chris-rands commented on #192
here's a couple of real examples for clarity

https://github.com/biopython/biopython/blob/master/Tests/test_codonalign.py#L233-L254

https://github.com/biopython/biopython/blob/master/Tests/test_GenomeDiagram.py#L16-#L24

[2020-03-31 13:56] jendrikseipp commented on #192
I think in the first example, you could simply just do `from scipy.linalg import expm` instead of `import scipy` and in the second example, you could remove the imports that are unused.

[2020-03-31 15:17] RJ722 commented on #190
I think we can close this.

[2020-03-31 15:21] RJ722 commented on #182
Hi @impredicative, now that #195 has been merged, and you can use `# noqa`, I think we can close this.

[2020-03-31 15:25] RJ722 commented on #160
@OddBloke are you okay with changing all of `# noqa: F401, V104`? (`V104` is issue code Vulture raises for unused imports)

[2020-03-31 15:26] impredicative commented on #182
I would never use `# noqa` for this. No QA means to ignore all QA tools. Why would I want to ignore all QA tools for the line? It's fine that `# noqa` is supported, but what does it have to do with my more specific suggestion to support `# vulture-off` (as it doesn't harm other tools)?

[2020-03-31 15:30] RJ722 commented on #182
If you want to be more specific and only turn-off Vulture related issues, you can use `# noqa: V10X` (issue codes in README).

[2020-03-31 15:34] impredicative commented on #182
That's a vulture-specific syntax, but other tools may not read that syntax, and may disable checking for the line entirely.

[2020-03-31 15:48] jendrikseipp commented on #190
Yes, that's right.

[2020-03-31 15:48] #190 closed

[2020-03-31 15:51] RJ722 commented on #182
I understand your point, but we chose to go with `# noqa`, as it is already pretty-standardized across many popular qa tools like `flake8`, pycodestyle, etc. whose standards Vulture closely mimics.

[2020-03-31 15:53] jendrikseipp commented on #160
I guess it makes sense to let Vulture honour the F401 code as well.

[2020-03-31 16:08] impredicative commented on #182
Just because some other tools are doing things the wrong way doesn't mean this tool should too. Please compare with tools like `black` and `pylint`, both of which have more specific syntax for ignoring lines or sections.

Just think about it. If I want to disable a tool X for a line, why does this have to mean that I should disable all tools that are not X? Is the logic not clear?

[2020-03-31 16:22] jendrikseipp commented on #182
Please note that `# noqa V10X` is essentially the same as `# vulture-off`, but allows more fine-grained control by selecting the error codes to ignore.

[2020-03-31 16:26] impredicative commented on #182
@jendrikseipp I understand that perfectly, but I also know that not all QA tools will process `V10X` as vulture expects it. There is a high risk that various other QA tools will simply ignore all checks for the line.

[2020-03-31 16:28] impredicative commented on #182
The pattern that pylint uses is `# pylint:disable=some-named-err1,some-named-warn1`, etc.

[2020-03-31 16:38] The-Compiler commented on #182
flake8 (which is where the `# noqa` syntax originates from, as far as I can tell) also supports `# noqa: <error code>`.

That would then be a bug in that tool. Note that it'd be incompatible with flake8 as well, which is probably one of the more common Python QA tools.

[2020-03-31 17:10] impredicative commented on #182
What about the whitelist extension? If it's going to remain a `.py` file, it should be a valid importable Python file, otherwise it should be a `.txt` file.

[2020-04-02 15:05] jendrikseipp commented on #182
I see your point, but still think that .py is more informative about the contents of the file than .txt. I added the following note to the README file:

[code]

[2020-04-02 15:05] #182 closed

[2020-04-02 17:13] impredicative commented on #182
Valid Python doesn't need modifications to run. Specifically, there are no imports in `whitelist.py`, and so the file cannot run. Even if it did have imports and could run, numerous other static analyzers would have a problem with it due to unused imports. Using a `.txt` extension addresses all of these problems.

[2020-04-02 17:19] impredicative commented on #182
As an aside, the `# noqa: <error code>` pattern is a really bad idea because no one cares to remember what these error codes mean. The `# noqa: <error name>` pattern is better if each error has a brief recognizable name, making it easier to memorize and reuse. Pylint does this better. In any case, supporting error codes doesn't prohibit support for error names.

[2020-04-02 18:57] jendrikseipp commented on #182
I agree that adding support for speaking names to the noqa comments sounds like a good idea. However, my hope is that people will use whitelists more commonly than noqa comments since the latter add noise to the source code.

[2020-04-09 14:19] dmcnulla commented on #199
Thanks, I wasn't paying attention. I'll try the suggestions/alternates.

[2020-04-13 09:06] jendrikseipp commented on #160
This has been implemented in 5e7fd662ad231105a689085697d72e5536903985.

[2020-04-13 09:06] #160 closed

[2020-04-13 13:17] OddBloke commented on #160
Thanks very much!

On Mon., Apr. 13, 2020, 05:06 Jendrik Seipp, <notifications@github.com>
wrote:

[2020-04-28 03:20] milton0825 opened #203 "Calling parent class __init__ in PY2 style was hidden"
We found that if a class that calls its parent class `__init__` method using the old PY2 syntax. That class is classified as used even though it is not used elsewhere.

[code]

[2020-04-28 07:51] jendrikseipp commented on #203
Thanks for reporting this. Given that the old syntax will gradually fade out, we are not planning to adapt Vulture for this.

[2020-04-28 07:51] #203 closed

[2020-04-30 07:57] pquentin opened #204 "Stop reporting unused `cls` variable in class methods"
vulture correctly ignores an unused `self` variable in a method, but fails to ignore `cls` in class methods.

## Steps to reproduce

[code]

## Actual output

[code]

## Expected output

Nothing, like for `self`.

Thanks!

[2020-04-30 08:10] jendrikseipp commented on #204
Thanks for the report! I can see that reporting `cls` might lead to many false or at least "unwanted" positives. However, here, Vulture shows that the method could actually be a staticmethod instead of a classmethod. I think this might actually be useful, do you agree?

[2020-04-30 09:04] pquentin commented on #204
Oh, yes, that makes complete sense, thanks. We'll switch to static methods.

[2020-04-30 09:04] #204 closed

[2020-05-12 06:04] nameer opened #205 "Can't ignore with # noqa"
To understand the problem, here's a file `file.py`
[code]

As you can see, I have commented out the lines for vulture to ignore. Running `vulture file.py` is expected to pass. But this is still producing this error:

[code]

[2020-05-12 07:35] jendrikseipp commented on #205
The version that supports noqa has not been released yet. If you want to try it out, you'll have to install the latest version from the master branch. Be aware though that we will probably only support F401 and F841 in order to promote the use of whitelists instead of noqa (which litters the code with comments).

[2020-05-12 07:35] #205 closed

[2020-05-19 14:54] CristhianMotoche opened #206 "`#noqa` does not ignore `unsatisfiable 'if' condition`"
Hi!

I added a conditional that won't be executed because I only wrote it to get a reference to a type for a function. This is a trick that the [`mypy`](https://github.com/python/mypy/issues/1597#issuecomment-222795658) community suggest to avoid circular dependencies.

However, I got an `unsatisfiable 'if' condition (100% confidence)` error, which makes sense. So, I added `noqa` expecting to igno

[2020-05-19 15:07] jendrikseipp commented on #206
The noqa functionality has not been released yet. Sorry for the confusion! See https://github.com/jendrikseipp/vulture/issues/205#issuecomment-627168622

[2020-05-19 15:07] #206 closed

[2020-05-19 15:08] CristhianMotoche commented on #205
Thanks for the clarification. @jendrikseipp

[2020-05-19 15:10] CristhianMotoche commented on #206
Thanks for the clarification. @jendrikseipp

[2020-05-21 10:07] yurikhan commented on #163
No, renaming arguments is not a solution. Clients of the base class expect to be able to call the method with keyword arguments. Consider:

[code]

Most libraries out there document their method argument names and types, and very few actually say whether they are positional-only and thus safe to rename when overriding.

The only viable workaround I’ve found is this:

[code]

[2020-05-21 18:54] jendrikseipp commented on #163
Thanks for the example! In this case, I recommend using a whitelist file containing the name `y` (optionally plus a comment that explains where y occurs in the code).

[2020-05-21 19:45] yurikhan commented on #163
How would such a whitelist look or work? Doesn’t it have to actually refer to the entity that is detected as unused?

[2020-05-21 21:42] RJ722 commented on #163
@yurikhan Whitelists latch onto the fact that Vulture doesn't support namespaces. Once a variable is referenced anywhere in the project, it is deemed as used. Due to the same, the case you mentioned here won't report any output at all.

[2020-05-28 12:39] HitLuca opened #208 "Add support for flask-restful api functions"
As for right now, vulture detects as unused function my flask-restful functions (delete in this case). Would it be feasible to add the knowledge that flask-restful behaves in this way?

[2020-05-28 12:43] jendrikseipp commented on #208
Could you provide an example, please?

[2020-05-28 12:49] HitLuca commented on #208
file `test.py`

[code]

`vulture test.py`

`test.py:5: unused function 'delete' (60% confidence)`

[2020-05-29 16:17] onlinejudge95 commented on #208
+1 for API methods defined in following packages

- [Flask-RESTful](https://flask-restful.readthedocs.io/en/latest/)
- [Flask-RESTPlus](https://flask-restplus.readthedocs.io/en/stable/)
- [Flask-RESTX](https://flask-restx.readthedocs.io/en/latest/)

[2020-05-30 14:40] erdseb commented on #112
My vote for making the reporting say "unused function/method" rather than "unused function".

[2020-05-31 21:29] jendrikseipp commented on #112
I agree that this would be a useful change. Any other opinions?

[2020-05-31 21:37] jendrikseipp commented on #208
This sounds like a good fit for a whitelist. If you like, we can try to integrate your whitelist for flask or flask-restful into Vulture. See the whitelists directory for examples.

[2020-06-01 01:22] Erotemic commented on #112
Anything that differentiates them is fine.

[2020-06-01 12:12] HitLuca commented on #208
@jendrikseipp how would you go with adding an external package into your whitelist without having to import it? That would define an external dependency which I don't think you would like to have

[2020-06-01 13:55] RJ722 commented on #208
@HitLuca because Vulture isn't aware of the package, or it's namespace, we don't need to actually source the actual module -- we just need a variable with the same name.

[2020-06-02 08:09] jendrikseipp commented on #208
Actually, i think it's good to use "real" source code in whitelists. That way, we can test that the names really exist and are spelled correctly. The whitelist files that are bundled with Vulture are only used when the corresponding module is imported, and even then the content is only parsed for names, not actually run, so no new dependency is needed. We only need to add flask or its extensions t

[2020-06-02 08:10] jendrikseipp commented on #178
Fixed in #207.

[2020-06-02 08:10] #178 closed

[2020-06-02 11:18] jendrikseipp commented on #112
Thinking about this again, my comment https://github.com/jendrikseipp/vulture/issues/112#issuecomment-395039530 seems to be wrong. Differentiating between functions and methods is beneficial for Vulture and I implemented this in #209.

[2020-06-02 11:20] #112 closed

[2020-06-02 11:29] erdseb commented on #112
Awesome! :tada:

[2020-06-03 07:16] HitLuca commented on #208
Makes sense, thank you. I'll write something down for flask when I have the time

[2020-06-09 12:12] nameer commented on #205
Thank you @jendrikseipp . When shall we expect the release?

[2020-06-09 12:56] jendrikseipp commented on #205
F401 and F841 noqa comments are part of version 1.5.

[2020-06-10 15:55] psidex opened #210 "Support reading options from setup.cfg"
From looking at multiple python tools (flake8, mypy, pytest, to name a few), the `setup.cfg` file seems to be one of the most widely supported for saving configurations.

The Python standard library contains [configparser](https://docs.python.org/3/library/configparser.html), so there is no need for any dependencies.

I imagine something like this:

[code]

Or maybe `[tool:vulture]` instead?

And

[2020-06-10 23:21] jendrikseipp commented on #210
We are already discussing adding support for pyproject.toml in #164. It seems pyproject.toml is the way forward for new tools, so I'd rather not add support for setup.cfg. A pull request for pyproject.toml support would be welcome :-)

[2020-06-10 23:21] #210 closed

[2020-07-07 10:47] jendrikseipp commented on #164
isort now bundles a vendorized copy of toml. We could probably do the same.

[2020-07-08 09:56] exhuma commented on #164
Having some configuration support would be helpful for CI pipelines as well. Until recently I have been in the camp being "against yet another dependency" just for project development support like TOML. But a recent episode on a podcast changed my mind about this... let me find it back... [here it is](https://testandcode.com/119).

I would be willing to work on this if you let me know which way yo

[2020-07-08 10:01] exhuma commented on #164
nb, this issue might benefit from a better subject. The primary topic is the be able to have config-values in a config file in addition to the cli-args. Might help others find it a bit better.

[2020-07-09 07:58] jendrikseipp commented on #164
@exhuma thanks for the link! I'll listen to the episode and will get back to you on this.

[2020-07-11 08:22] exhuma commented on #164
@jendrikseipp  I will likely start to dabble around with it tomorrow, just to familiarise myself with the project structure of `vulture` and `toml`. I don't mind if I need to rewrite that work as my main aim will be the aforementioned familiarisation 😉 If I'm happy with the result I'll open a PR, and you can go nutters with the review. I have a thick skin and am always fairly critical in reviews I

[2020-07-11 09:17] jendrikseipp commented on #164
@exhuma Sounds great! I listened to the podcast and think that the best solution is to add a dependency on `toml`. I recommend looking at how other projects use toml and pyproject.toml (e.g., black) to avoid reinventing the wheel :-)

[2020-07-11 09:23] jendrikseipp commented on #162
Long time without action here. Let me close this issue for now, but feel free to post the Django instructions and I'll reopen it.

[2020-07-11 09:23] #162 closed

[2020-07-11 10:12] exhuma commented on #164
will do

[2020-07-12 13:04] exhuma commented on #164
Done. Let me know what you thing :)

[2020-07-22 18:12] colinc719 opened #216 "Support Forward References for Annotations"
When vulture is run on the code

[code]

produces "unused import 'Sequence'"

I would expect it to see that Sequence is used as a forward reference (https://www.python.org/dev/peps/pep-0484/#forward-references) in temp.

I'm running vulture 1.5.

[2020-07-22 18:21] jendrikseipp commented on #216
Thanks for the report! Vulture currently doesn't parse string forward references, but I guess it would make for a nice addition. In your concrete example, however, couldn't you just use `Sequence` instead of the string `"Sequence"`?

[2020-07-22 18:54] colinc719 commented on #216
Thanks for the fast response.  Yeah, I was just trying to post a simple example.  A more realistic use-case would probably use TYPE_CHECKING, which gives the same result:
[code]

[2020-07-22 19:11] colinc719 opened #217 "Treat non-python files as a string constant"
Would it make sense to have the text of non-python files still go through `Vulture._handle_string`?  For instance,
[code]
correctly produces no problems, but if you move the pattern to a separate txt file

temp.txt:
[code]

temp.py
[code]
It will produce "unused attribute 'arg'".

[2020-07-22 20:12] jendrikseipp commented on #216
Thanks for the example!

[2020-07-22 20:18] jendrikseipp commented on #217
Vulture will parse a file not ending with .py if it's passed on the command line and if it contains correct Python syntax. I don't think it makes sense to consider files that don't contain valid Python.

[2020-07-22 20:18] #217 closed

[2020-07-25 14:19] dsuch commented on #152
Hello,

I realise that this ticket is closed but perhaps for a future discussion, I just want to leave a note.

First, thanks for creating Vulture, this is a very useful tool!

As to the gist of this ticket - yes, code which does exactly what @Dobatymo describes actually exists and I can attest to that.

Using type hints directly in function or method definitions is not 100% the same as placing th

[2020-07-25 15:45] dsuch commented on #152
I re-read my message and it may appear that it is only about runtime performance. That too, but what I wanted to relayed was the general usefulness of supporting "if TYPE_CHECKING:" directly.

For instance, here is another case that I am working on at this very moment.

A C-based extension called "foo" has an object called "BarClass".

[code]

(Let us skip for the moment the fact that BarClass doe

[2020-07-28 00:20] jendrikseipp commented on #152
@dsuch thanks for the explanations and examples. I have a much clearer picture of the problem now. After reading about how other linters handled this problem (https://github.com/PyCQA/astroid/issues/317, https://github.com/PyCQA/pyflakes/issues/247), I think the best solution is to parse the type comments that the `ast` module provides, starting in Python 3.8 (https://docs.python.org/3/library/ast

[2020-07-28 08:35] The-Compiler commented on #152
FWIW I think pylint/astroid, mypy and probably others use [typed_ast](https://github.com/python/typed_ast) on Python < 3.8. Not sure how different the API is to the builtin `ast` with 3.8+ though.

[2020-07-28 09:40] dsuch commented on #152
Hello,

thanks @jendrikseipp for taking it into consideration.

Regarding typed_ast - I seem to recall a discussion on [Roundup](https://bugs.python.org) about the fact that one had to use in runtime the same Python version to check tokens (and presumably AST) that the code being checked was using.

E.g. it was not guaranteed that Python 3.7 could tokenise Python 3.6 programs - perhaps this is rel

[2020-08-08 19:11] jingw opened #221 "False positive due to distinction between used_attrs and used_names"
Consider the following code in two files:
[code]

Running vulture complains that `module.some_module_var` is an unused attribute
[code]

How do you feel about this? On one hand, in practice, the cases where I've seen this false positive were test cases that should have been refactored to use `mock.patch` instead of directly setting module attributes. On the other hand, it's still a legitimate fals

[2020-08-09 00:55] jingw commented on #152
For what it's worth, I am not personally a fan of special casing TYPE_CHECKING and blanket ignoring things defined/imported under it. The reason is that unused type imports and unused mypy-only declarations are still dead code that can be cleaned up (conditioned on counting type comments as usages). My understanding is that after #220, we'll have the optimal behavior: used type imports get ignored

[2020-08-09 06:20] jendrikseipp commented on #221
Good point! I agree that folding used_attrs into used_names makes sense (i.e., storing all used attributes in used_names and dropping the used_attrs set and the get_set function). Do you want to create a pull request for this?

[2020-08-09 13:30] dsuch commented on #152
Hello @jingw - this is not only about type hints from comments, please check the example with "class _MyBar:". This is the kind of code that needs to be placed somewhere solely to satisfy static checkers.

Here is a recent example. A test case class may begin with:

[code]

The "maxDiff" attribute is needed because sometimes self.assertEqual will compare longer strings. But, because maxDiff is use

[2020-08-09 16:17] jingw commented on #221
Yep, I can put together that change.

[2020-08-09 17:16] jingw commented on #152
Hi @dsuch, I think the `_MyBar` case would be handled by #220. If `_MyBar` doesn't appear anywhere in a type comment or ordinary python, even Mypy isn't going to know that it should be associated with `BarClass`. I'm not sure what your code looks like, but I'm aware of people sometimes writing code like this:
[code]
In this code, neither _MyBar nor BarClass is flagged as dead code after #220. (By

[2020-08-09 18:57] jingw opened #222 "Ignoring intentional unreachable if statements? (if False: ...)"
How would you feel about loosening `_handle_conditional_node` to ignore cases where the unreachable branch is obviously intentional? When running vulture on my giant codebase, I found that most of the unreachable code flagged by vulture was of the form `if False` or `if False and other_conditions`, though it did also flag buggy code of the form `if x == 1 or 2`.

Concretely, I propose ignoring the

[2020-08-09 21:57] jendrikseipp commented on #222
I see your point and we actually were on the fence about this when we added the unreachable code feature. I think it's best to leave things as they are, because that keeps the code simple and is easiest to document and understand. In cases like these, I'd recommend to use a Boolean flag and I added a corresponding note to the README:

**Unreachable code**

If Vulture complains about code like `if

[2020-08-09 21:57] #222 closed

[2020-08-09 22:52] dsuch commented on #152
@jingw You are right on all accounts and, as I am not a core developer here and this project is looking very good already, I will be happy with any decision that you all will reach :-)

[2020-08-09 22:59] jendrikseipp commented on #152
I agree, there are two distinct topics in this discussion. #220 should deal with the type comments. Regarding the noqa comments, I think you make a good point @jingw. It hadn't occured to me that having such a comment actually adds some information to readers of the code. I think it makes sense to "reopen" the discussion on noqa comments and how best to support them (for examples, speaking names v

[2020-08-10 10:40] #152 closed

[2020-08-10 10:57] jendrikseipp commented on #216
#220 added support for parsing type comments, but forward references are still not taken into account by Vulture.

[2020-08-10 10:58] jendrikseipp commented on #152
#220 is now merged, thanks @jingw ! Note that for full typing support we would also need to parse forward references as described in #216.

[2020-08-10 17:18] jingw commented on #216
Just FYI, fixing this fully correctly is likely annoying, since the forward references can appear outside a type annotation context:
[code]

That said, somehow flake8 deals with it, so it could be worth looking at whatever they're doing. Test case:
[code]

(not planning to work on this, just throwing this out)

[2020-08-11 12:15] jendrikseipp commented on #216
Thanks for the explanation!

Maybe a solution could be to record all literal strings as used names. (This would render the getattr/hasattr PR obsolete.) My feeling is that this sounds too drastic, but could actually be the right move. On the other hand, maybe we shouldn't worry about this too much, given that there's `from __future__ import annotations` (thanks for the hint, didn't know about this

[2020-08-11 18:00] jingw commented on #216
I also feel that would be excessive.

Some more fun edge cases that come to mind:
* `def f(n: "Union[int, str]"): ...` is legal, so you'd also have to ast.parse things. As it turns out you can even nest the quotes: https://mypy-play.net/?mypy=latest&python=3.8&gist=0bfcb7137e8c63c83f12a24a62fe8cff
* dropping unused import detection doesn't suffice when custom types are involved. (i.e. declare MyTy

[2020-08-11 21:23] jendrikseipp commented on #216
I fully agree. Let's not open the can of worms :-) I added a reference to this issue to the README:

**Forward references for type annotations**

See [#216](https://github.com/jendrikseipp/vulture/issues/216). For example, instead of `def foo(arg: "Sequence"): ...`, we recommend using

[code]

if you're using Python 3.7+.

[2020-08-11 21:23] #216 closed

[2020-08-15 08:20] #221 closed

[2020-09-06 17:30] mcooperman opened #227 "option to output absolute pathnames of reported files"
Using vulture as an External Tool with PyCharm.
a linter, such as Flake8, outputs reported issues with absolute pathnames to the files. These are 'clickable' in the PyCharm Run UI, to jump directly to the related code.
vulture (after testing outside of pycharm as well) seems to only output relative paths from the cwd without a leading /
it appears that PyCharm relies on detecting paths in the Run

[2020-09-07 08:03] jendrikseipp commented on #227
Thanks for the report! Ideally, I'd like to find a solution that works for multiple editors. Do you know which format would be required for other popular editors (https://insights.stackoverflow.com/survey/2019#development-environments-and-tools)?

Are you sure flake8 uses absolute paths? Or does it come with an option for this? For me flake8 3.8.1 shows relative paths.

[2020-09-08 10:18] bcbnz opened #229 "Clarify how config and CLI options are merged"
As far as I can tell, if an option is given in both pyproject.toml and on the CLI, then the CLI version is used. This should be explicitly stated in the documentation, as it might be expected that options which take lists (e.g., `exclude`) would be concatenated.

[2020-09-09 08:25] MartinThoma opened #231 "False-positives for pydantic"
[Pydantic](https://github.com/samuelcolvin/pydantic) is a pretty popular data parsing and validation framework. Classes which inherit from `pydantic.BaseModel` can have a `Config` class inside them which modify the behavior of pydantic ([example](https://pydantic-docs.helpmanual.io/usage/model_config/#alias-generator))

Vulture 2.1 falsely recognizes this as unused code.

[2020-09-09 08:35] MartinThoma opened #232 "False-positives for Flask"
I've noticed some false-positives with Flask applications:

* `app.url_map.strict_slashes = False` ([source](https://github.com/pallets/werkzeug/issues/1246#issuecomment-362097539))
* Functions under a `@app.errorhandler(SomeException)`
* Functions under a `@app.route`
* Functions under a `@after_this_request`

[2020-09-25 04:31] dependabot-preview[bot] opened #233 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/jendrikseipp) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/jendrikseipp/update-logs/48669917).

[2020-09-25 07:46] #233 closed

[2020-09-26 10:07] RJ722 commented on #164
Now that #215 has merged, let's close this?

[2020-09-26 10:08] jendrikseipp commented on #164
Good point :-)

[2020-09-26 10:08] #164 closed

[2020-10-02 06:17] exhuma opened #235 "Detect unused whitelist items"
As a project lives on and is maintained, whitelists grow. It is likely that after a time, the whitelist has items in there which no longer exist in the code.

It would be a nice addition if vulture detected those and reports unused whitelist items as well.

mypy does something similar for unused `# type: ignore` comments. Which is really nice.

I'm willing to work on this myself, but I'm not yet s

[2020-10-02 07:54] jendrikseipp commented on #235
I agree. In my projects that use Vulture I simply run `python whitelist.py` to check that all whitelisted code still exists. Does that work for you as well? Care to document that approach in the README?

[2020-10-02 08:02] #229 closed

[2020-10-02 11:32] exhuma commented on #235
Good point. I could have thought of that 😄

It works mostly. I have run into a situation where I am overriding a method of a third-party library. In that method I am ignoring a function argument. I really don't need it for that override, but vulture complains about the unused argument.

For example, let's say that this is the full implementation:

[code]

Then I could write in my whitelist somethi

[2020-10-02 11:37] jendrikseipp commented on #235
In such a case, I'd use `_bar`. That's a common idiom for unused arguments.

[2020-10-02 11:38] jendrikseipp commented on #235
Python won't complain that the parameter name differs from the method in the base class since it only looks at method names, not their parameters.

[2020-10-02 11:42] exhuma commented on #235
Yes, but then mypy (and I think pylint too) will complain about inconsistent signatures.

Also, the day that code will call the function with keyword args (f.ex. `my_handler_instance(bar=10)` the code will break. I don't mind using underscored names in independent *functions*, but not in overridden methods.

I don't actually have any control how this is called. This is inside a sphinx extension th

[2020-10-02 21:50] jendrikseipp commented on #235
Then I'd recommend to put the following into your whitelist:

[code]

I guess you could also subclass MyHandler, override the method again and use `bar` in the overriding method.

[2020-10-03 08:35] exhuma commented on #235
This makes a lot of sense. I really need to think of the whitelist as a completely normal Python module, and not just as a list of rules to ignore. I might update the docs a bit if you don't mind when I get around to that.

There is one final pattern I'm struggling with and maybe you have an idea on how to whitelist that:

I have some higher order functions in an application. A simple example coul

[2020-10-03 08:52] jendrikseipp commented on #235
I'm not sure what the false positive is in your code since both local functions are returned and therefore "used". Could you give a more complete example, please?

That would be great!

[2020-10-03 11:33] exhuma commented on #235
It is actually a Flask Blueprint factory. I don't have my hands on the code right now as it is from the office, but it is along the lines of this:

[code]

So the route-function itself is not returned from the factory. Flask routes are generally not picked up but are easily whitelisted. This one is a bit trickier.

[2020-10-03 18:47] jendrikseipp commented on #235
I'd use `--ignore-decorators @bp.route` or `--ignore-decorators @*.route` for this. Or simply "use" the name `bp_index` somewhere in the whitelist.

[2020-10-08 17:27] RJ722 commented on #235
I think the examples in this thread would be worthwhile to mention in the README as canonical examples for whitelisting, especially the trickier ones, like flask. @jendrikseipp If you give me a green flag, I would like to send a PR!

[2020-10-08 17:38] jendrikseipp commented on #235
That's a great idea! The README is already quite long, so I recommend adding this info under docs/whitelists.md and linking to it from the README.

[2020-10-15 10:35] jonathan-s opened #238 "Add a summary after running the command"
It would be useful with a summary. Two statistics that comes to mind are.
- How many places are affected by dead code.
- How many lines in total are considered dead code.
- Optionally, average confidence of all the dead code.

[2020-10-15 11:23] jendrikseipp commented on #238
I agree that these statistics are interesting, but I wouldn't bake them into Vulture. Instead, you can use `vulture *.py | wc -l` to count the places with dead code.

[2020-10-15 11:23] #238 closed

[2020-10-15 12:43] jonathan-s commented on #238
Yeah, `wc -l` works for counting the number of lines. Do you also have a neat of way of collecting the number of lines each place is responsible for?

Ie sum the value where `135` is located. That seems a lot trickier.
[code]

[2020-10-15 20:54] jendrikseipp commented on #238
For that, I recommend using a suitable `awk` script (I'm not versed in that, but a stackoverflow search will help you there).

[2020-11-08 08:41] sweetgiorni opened #240 "VS Code Extension"
I made this VS Code extension for personal use. It's not yet fully functional in terms of configuration but it works enough. If you want it feel free to fork, or I can give ownership of the repo + VS Code marketplace extension, I don't really care. I can also hang on to it, but I make no guarantees about quality or maintenance timelines :)

https://github.com/sweetgiorni/vulture-vscode
https://mar

[2020-11-09 09:30] jendrikseipp commented on #240
That's great! Thanks for your work on this! I'm happy for you to maintain the extension with the timeline that works for you.

[2020-11-09 09:30] #240 closed

[2020-11-09 19:28] sweetgiorni commented on #240
Okie doke, one more weekend project for me! Once it's whipped into shape I'll send a PR to link to it from your README. I may also open some feature request tickets that would enhance the functionality of the extension, like enhanced output so individual tokens can be highlighted instead of entire lines, etc.

[2020-11-09 20:01] jendrikseipp commented on #240
Sounds great!

[2020-12-23 11:01] davidhart82 opened #242 "Auto ignore classes that have the unittest.TestCase base class"
We tend to store unittests in the same script that we're testing, so the current auto ignoring of tests that live in a test/tests directory is not suitable for us.

It would seem, rather than guessing that tests are always in a test/tests directory (or indeed that non-tests wouldn't be stored in such a directory), that it would be useful to check the base class?

[2020-12-23 16:31] jendrikseipp commented on #242
Unfortuntately, checking the base class (or the class ancestry) would make the code much more involved. Therefore, this is currently not a goal.

[2020-12-23 16:31] #242 closed

[2020-12-29 10:41] deathiop opened #243 "Option to restrict `unused` types to consider"
Hello,

Would you accept the idea of having a configuration entry / command line flag that allows one to specify

?

Something like `vulture --unused-classes --unused-variables mydir` (though I don't mind any other format).

[2020-12-29 18:43] jendrikseipp commented on #243
I think the best solution for this is to use `vulture ... | grep 'unused class\|unused variable'` to obtain the results you want to see.

[2020-12-29 18:43] #243 closed

[2021-01-05 19:35] deathiop commented on #243
I do agree I can filter the output. Though, the way I see it is that vulture might skip computing the parts the user is not interested in, hence making it faster than an output filter.

[2021-02-12 11:13] ZeeD opened #249 "Add support for TypedDict"
snippet:
[code]
`vulture` says `unused variable 'key' (60% confidence)`, but shouldn't

[2021-02-13 18:50] csilvers opened #250 "Fix tuple-arg parsing in vulture 1.6"
I am using vulture 1.6 on my python2 repository.  It errored out while running, due to some weird ways we define arguments in some of our functions, which I fixed at https://github.com/Khan/vulture/commit/9a34fb4e43a0d5385ea91dab5e2db6a201e865ef.

However, I did not make a pull request because I don't know if any new releases are being made in the vulture 1 series.  (Or even how to make a pull req

[2021-02-13 21:43] jendrikseipp commented on #250
Thanks for reaching out! I think backporting fixes for unsupported Python versions is too much work though.

[2021-02-13 21:43] #250 closed

[2021-02-22 16:48] jimmy927 opened #251 "Should add support for pycharm / jetbrain statements."
Example:

[code]

[2021-02-23 10:20] karolpawlowski opened #252 "Filtering out calls to a deadcode from individual directories"
Hi,

is there a way in vulture to mark code as dead even if it is called from directories that aren't "production" code, eg. unit tests?

Regards
Karol

[2021-02-28 10:32] RJ722 commented on #252
Hey, Karol! not sure what you mean here: do you want to mark used code as dead here? or are you looking for ways to ignore test directories?

[2021-02-28 10:35] RJ722 commented on #251
@jimmy927 Can you elaborate some more on this -- What is the outcome you want to achieve? How are you using Vulture with PyCharm/JetBrains? And how is the code snipped above relevant to it?

[2021-03-01 08:33] karolpawlowski commented on #252
Ignore test directories, to not count calls to some methods from test
directories.

niedz., 28 lut 2021 o 11:32 Rahul Jha <notifications@github.com> napisał(a):

[2021-03-01 10:35] RJ722 commented on #252
You can use the exclude parameter, `--exclude tests/`

[2021-03-01 20:28] jendrikseipp commented on #252
Thanks, @RJ722 for handling this!

[2021-03-01 20:28] #252 closed

[2021-03-02 18:08] valyagolev opened #253 "Different results when ran on a folder or on a particular file"
`vulture` seems like a very useful tool, yet I can't configure it quite right. Perhaps it's a bug - or a configuration issue that could be explained slightly better.

The problem persists even with the empty `pyproject.toml`, so I won't attach it.

[code]

Since unused imports are exactly what I'm after, this is something I'd love to get reported right.

[2021-03-04 14:16] RJ722 commented on #253
HI @valyagolev, Vulture doesn't have the concept of namespaces -- everything Vulture collects, it stores in a common set -- which is why if a class is being used at least once in the entire codebase, it won't be reported as unused.

[2021-03-09 20:19] valyagolev commented on #253
I see, thank you. Is this as intended or is this something there's a plan to change?

[2021-03-11 09:40] RJ722 commented on #253
This is intended, as there's no easy way to shelter namespaces.

[2021-03-11 09:41] RJ722 commented on #249
I agree that this should be done, but I'm not sure how complicated would it be. I'll take a look into it. A lot of things on my plate right now, so it will take some time.

[2021-03-11 10:22] jendrikseipp commented on #249
I don't see an easy way to remove the false positive. Suggestions welcome :-)

[2021-03-11 10:23] jendrikseipp commented on #253
Thanks @RJ722 for answering this one!

[2021-03-11 10:23] #253 closed

[2021-03-16 15:01] fredrikaverpil opened #254 "Can vulture be used to detect unused code in a shared library?"
Hi!

I'm wondering ... if I have three Python packages installed (or in a folder);
1. lib
2. client1
3. client2

...where the "client1" and "client2" packages import "lib". Can I somehow run vulture on "lib" to see if there is unused code in "lib", never called by either "client1" or "client2"?

Thanks for a great tool! 👍

[2021-03-17 20:23] RJ722 commented on #254
@fredrikaverpil If all the three `lib`, `client1` and `client2` live in the same directory, then you can run Vulture on the parent directory, and inspect the output to find any dead code inside `lib` which isn't being used by either of the clients.

If installed as a package (via pip, or like), Vulture won't have access to `lib`'s source code and won't be able to find any dead code inside it.

[2021-03-20 21:49] fredrikaverpil commented on #254
Great, many thanks - seems to work fine! 👍

[2021-03-20 21:49] #254 closed

[2021-04-27 18:12] db-baron opened #255 "More definitive explanation of 'confidence' in README"
It's a little unclear how the confidence percentage estimates for unused code are calculated. Perhaps include a description of the process by which it's determined in the documentation.

[2021-05-02 00:33] bje- opened #257 "False positive on unused attribute"
Packages like `pint` use attributes to control behaviour. Here is a very simple example:

[code]

Vulture reports that the attribute is unused:

[code]

[2021-05-02 21:04] jendrikseipp commented on #257
That sounds like a good fit for a pint whitelist:

[code]

If you pass this file to Vulture in addition to your normal files, Vulture will not complain.

If you like, you could prepare a pull request for this by putting the code into a file called vuture/whitelists/pint.py

[2021-05-02 21:36] bje- commented on #257
Thanks, will do.

[2021-05-02 21:36] #257 closed

[2021-05-13 21:26] natarajanc-prodigygame opened #259 "pre-commit hook run only on staged/committed files on current branch?"
vulture seems like a very useful tool, yet I can't configure it quite right. Perhaps it's a bug - or a configuration issue that could be explained slightly better.

i want to use the vulture pre-commit hook to only run on the staged/committed files in my branch individually and not run it based on directories specified in `paths` under the pyproject.toml

If i use the `pyproject.toml` config and s

[2021-05-15 08:32] RJ722 commented on #255
I agree that knowing how confidence is calculated would help users select the value of min-confidence, well, more confidently.

The confidence level is based on the 'type' of the dead code. The logic is scattered in `vulture/core.py` in various calls to `self._define`. (e.g., https://github.com/jendrikseipp/vulture/blob/master/vulture/core.py#L666 -- which detects unreachable code after `return/ra

[2021-05-15 09:04] RJ722 commented on #259
If Vulture is run on staged/committed files only, it *will* report false "unused import" results.

I'm not sure how pre-commit works under the hood, but I'm wondering if it can be configured to do the following: Run Vulture on all your files, and then grep the results to show only the ones for staged/committed files.

[2021-05-15 14:55] RJ722 commented on #232
Regarding ignoring results for functions which are decorated by some specific decorator:

For your use case, I think you can invoke Vulture like following:

[code]

To deal with `strict_slashes` variable, I think the following whitelist should suffice:

[code]

[2021-05-15 15:15] RJ722 commented on #231
Since all of these are used by Pydantic dynamically, I don't see an easy way to get around this. You'd need to create and maintain a whitelist to prevent all the false positives. Vulture can help you with a bit of automation here:

After looking at the results from Vulture and ensuring that there are no more false positives, it can automatically create a whitelist using the `--make-whitelist` opti

[2021-05-18 20:09] natarajanc-prodigygame commented on #259
@RJ722  taking a simple example - assuming 2 files in same directory

file a.py
 import lib_a  # unused in this file

file b.py
 import lib_a   # actually used  in the file

if i run vulture on all files , the unused import for file `a.py` wont be surfaced (even with grep solution you indicated)

the unused import for file a.py only happens when i run `vulture a.py` which is what i want

[2021-06-02 21:26] srossross opened #260 "How to ignore all test_*.py files?"
The exclude argument does not appear to work the way I was expecting

[code]

[2021-06-04 15:15] jendrikseipp commented on #231
I agree with @RJ722 . A whitelist file is your best option. I recommend using "real" code in the whitelist file, so that `python whitelist.py` runs without errors.

[2021-06-04 15:15] #231 closed

[2021-06-04 15:17] jendrikseipp commented on #232
It would actually be useful to put the `strict_slashes` field into a whitelist that we then bundle with Vulture. Care to draft a pull request for this (see https://github.com/jendrikseipp/vulture/pull/258/files for an example)?

[2021-06-04 15:27] jendrikseipp commented on #255
Thanks for the explanation, @RJ722! I reworded the paragraph about confidence values slightly to make it clearer. In essence, the estimates only depend on the type of code (import, function, class, etc.) and are very rough, heuristic estimates.

[2021-06-04 15:27] #255 closed

[2021-07-17 14:44] noorul commented on #260
Maybe you need `'*test_*.py`

[2021-07-17 15:35] noorul opened #261 "Obvious unused functions are not reported with 70% min confidence"
Reproduction recipe (test.py):

[code]

Vulture output:

[code]

[2021-07-17 20:44] RJ722 commented on #261
This is how it meant to be -- when the `min-confidence` flag is supplied, only results with confidence greater than the supplied value are shown.

It'd be nice to know what you expected to happen here?

[2021-07-17 20:54] RJ722 commented on #260
@noorul is correct. You can also use something like `**/*/test_*.py`.

[2021-07-18 00:45] noorul commented on #261
For the snippet I was expecting vulture to report this unused function  with 100%. Am I missing something?

[2021-07-18 07:32] RJ722 commented on #261
Ah, I see. The confidence value is based on the 'type' of the unused item. For functions/methods, it is always 60%. For unused imports, it's 95%, and so on.

[2021-07-18 13:23] noorul commented on #261
Then I am not sure whether I understood it properly. I set vulture to use a 70% confidence level because lower than that was giving false positive outputs. But this completely filtered out functions and methods.

[2021-08-22 19:54] mathbunnyru opened #263 "Don't print confidence for unused code"
Right now confidence doesn't make a lot of sense - as far as I understand, it is based purely on type of unused code and only has several possible values.

Instead, it would be better to have something like this:
`file.py:58: unused variable 'my_unused_var' (unused_variable)`

And we will be able to filter out categories of unused code.

This will also solve issue: https://github.com/jendrikseipp/

[2021-08-26 15:31] jmmcclaineng opened #264 "Dataclass variables are tagged as unused variables"
We have a dataclass like the below we are using for data representation and vulture seems to treat these as unused variables.

Example dataclass:

[code]
Example unused variables:
[code]

[2021-09-05 07:30] RJ722 commented on #263
I'm not sure I follow up correctly, but the category is anyways printed with the message:

[code]

[2021-09-05 07:33] RJ722 commented on #261
In that case, to deal with false positives, I'd recommend adding a whitelist. You can even run Vulture with the  `--make-whitelist` flag -- this would print all the results in a form directly usable as a whitelist. More info in the README.

[2021-09-05 12:37] mathbunnyru commented on #263
Yes, you're right, what I meant is to get rid of confidence in its current implementation, because it's a bit misleading.

[2021-09-06 01:10] noorul commented on #261
I managed to move to a 60% confidence level. I see that --make-whitelist is an option.

[2021-09-06 01:10] #261 closed

[2021-09-06 07:18] jendrikseipp commented on #263
I updated the title accordingly. I like the --min-confidence feature and to make it useful we need to show confidence values. Maybe we should improve the docs about confidence values or improve the confidence values themselves, though.

[2021-09-07 09:17] volans- commented on #264
This is happening to me too. In my case the variables are used only in a `format()` call using `self`. So something like:

[code]

[2021-10-07 10:22] jamilraichouni opened #265 "Add violation codes that can be ignored"
I combine `flake8` and `vulture` and want to use `vulture` for stuff that is not being found by `flake8`.
The issue is that there are cases where I get two problems reported for one and the same issue in the code.

Example:

[code]

Here `flake8` including the plugin (`flake8-unused-arguments`) reports an unused argument and `vulture` also reports the same unused variable with 100% confidence.

It

[2021-12-15 14:08] dsuch opened #267 "Hint: if 0: -> if _ := False: (type checking imports)"
Hello,

this is just a quick hint that I am leaving for people who would like to use vulture with code that uses imports guarded by "if 0:", "if False:" or similar checks and who would not like to resort to the "debug = False / if debug:" or similar approaches because they use "if 0:" with a specific goal in mind, which is solely to let type checkers know what types there exist, which means that s

[2021-12-15 14:20] dsuch commented on #265
Yes, this is a very good idea. For serious purposes, one uses at least several static checkers, each good in its own way, and what you suggest would be truly helpful.

[2021-12-18 15:17] hughhan1 commented on #263
It feels that something like `--strictness-level` could be more accurate? Specific types of errors fall into different categories of strictness. The confidence level percentages seem to imply some probability that the code is unused, which is misleading—there is no probabilistic modeling done whatsover.

[2021-12-18 15:19] hughhan1 commented on #264
I also have this same issue. Is it possible to add something similar to the list of ignored decorators, like a list of superclasses such that all subclasses extending those superclasses should be ignored by vulture?

[2021-12-20 18:57] RJ722 commented on #265
Seeing that we already support `# noqa` for some particular flake8 codes (like `F401: module imported but unused` and `F841: local variable is assigned to but never used`), I don't see a reason why we shouldn't support this.

I'll be happy to work out a pull request once we get a confirmation from @jendrikseipp.

[2021-12-22 11:06] jendrikseipp commented on #265
I'm not opposed to adding such functionality. However, I'm not yet convinced that such a feature is useful. Your example @jamilraichouni would ignore unused arguments for *all* functions (assuming that V123 is the code for unused arguments). At the same time, you explicitly add flake8-unused-arguments to catch them. Isn't that a contradiction? Can you post an example where ignoring Vulture error c

[2021-12-22 11:08] jendrikseipp commented on #267
Nice tip! Do you want to make a pull request that adds this to the README under "Handling false positives"?

[2021-12-22 11:08] #267 closed

[2021-12-22 12:34] The-Compiler commented on #267
That seems like an antipattern to me, given that there is a [generally accepted way](https://mypy.readthedocs.io/en/stable/runtime_troubles.html#typing-type-checking) of fixing the same problem, namely using `if typing.TYPE_CHECKING:` ([docs](https://docs.python.org/3/library/typing.html#typing.TYPE_CHECKING))

[2022-01-01 15:55] MarcoGorelli opened #269 "Don't report unused variables"
Hi @jendrikseipp ,

Well done on `vulture`, it's awesome!

Would you consider an option to make `vulture` not report unused variables, and hence _only_ report on unreachable code?

Happy to make a PR if so

[2022-01-03 07:37] kretes opened #270 "Should report on unreachable code after try-return-except-raise"
For a following file:
[code]

`vulture dead_return.py`
doesn't report anything, while it should report code on line 6, as this one is unreachable.

vulture 2.3, python 3.9

[2022-01-03 11:54] RJ722 commented on #269
@MarcoGorelli I'm not sure about an option within vulture. But in the mean time, since in addition to unreachable code, only unused function arguments are reported with 100% confidence, you can weed them out using grep:

[code]

[2022-01-03 11:58] MarcoGorelli commented on #269
Thanks @RJ722 for your reply!

True, I can do that, but then the return code would be affected

Anyway, if this isn't welcome within Vulture, I'll find a workaround - thanks!

[2022-01-03 12:01] MarcoGorelli commented on #269
Furthermore, I don't think that would work within a pre-commit hook

[2022-01-03 12:07] RJ722 commented on #269
@MarcoGorelli correct, thanks for your insights!

@jendrikseipp do you think that this is the right time to publicize issue codes? I was thinking if we could provide an option to filter using issue codes, it would be elegant.

[2022-01-03 12:32] MarcoGorelli commented on #269
Thanks! My current workaround is
[code]
and then
[code]

[2022-01-03 17:39] jendrikseipp commented on #270
Thanks for the report! Put a little more generally, Vulture should detect that code is reachable if it occurs after a if-else block or a try-except block where all cases exit the function (with `return` or `raise`).

Here is another test case that Vulture currently misses:

[code]

I'm happy to review a PRs for this :-)

[2022-01-03 23:08] RJ722 commented on #269
I see that a Python script is invoking `Vulture` in a subprocess. Since Vulture also has a clean Python API, I'm curious if you'd want to try it out instead (following is untested – It's almost 4 AM here, and I really should go get some sleep):

[code]

[2022-01-04 08:32] MarcoGorelli commented on #269
Ah, I didn't realise there was an API! I'll use that then, thanks, no need for a flag

[2022-01-04 08:32] #269 closed

[2022-01-04 09:03] jendrikseipp commented on #269
Nice idea @RJ722 !

[2022-01-04 17:43] MarcoGorelli commented on #269
Yup, thanks!

I had to change it to
[code]
though, `v.found_dead_code_or_error` is False in my example

[2022-01-04 18:04] RJ722 commented on #269
Do I spot an unused import? 👀

[2022-01-04 18:16] MarcoGorelli commented on #269
Yeah, I just didn't think that'd affect how vulture would run

[2022-01-05 09:25] mflova opened #271 "Vulture and its scope"
I recently configured my vulture in my IDE to input the git root directory instead of the current filename, as it seems that it scans all the dependencies and handles better the false positives than any other linter I am using, but I started to see some weird cases when I increased the scope. I decided to do a few tests with the CLI and observed some issues (which is a consequence explained in the

[2022-01-06 12:30] RJ722 commented on #271
Given the nature of Python's dynamic nature, it is very difficult to have scope-aware analysis.

@mflova, as you rightly pointed out, It's a tradeoff and we favored in the direction of false negatives because that's less noisy and more actionable.  I don't see any plans to change this in the near future.

[2022-01-06 12:47] #271 closed

[2022-01-22 00:47] yoichi opened #272 "False positive example should be updated"
Follow the instruction in README.md with vulture >= 2.1 results:

[code]

It does not detect

[code]

as expected since https://github.com/jendrikseipp/vulture/pull/219 eliminates the false positive.

I think it would be good to update the example to something that can still be reproduced.

[2022-01-22 18:11] RJ722 commented on #272
Thanks for the report, @yoichi! I'll get a fix up for this.

[2022-02-16 19:48] hvongsachang opened #273 "Replace use of whitelist with allowlist/clearlist and blacklist with denylist/blocklist"
In a similar fashion to this issue: https://github.com/rails/rails/issues/33677, it would be nice if vulture could replace use of whitelist with allowlist/clearlist and blacklist with denylist/blocklist for better terminology. If not replace, then perhaps add support to detect `allowlist` and `blocklist`.

[2022-03-08 12:38] ChillarAnand opened #274 "Detect unused local variables?"
[code]

In the above code, `x = 2` is local unused variable but vulture doesn't detect it currently. May be vulture can detect and report these?

[2022-03-08 16:38] jendrikseipp commented on #274
That would be possible, yes, but it would require a substantial amount of changes to the core of Vulture. So currently there are no plans to do that. But I think `flake8` should detect cases like this.

[2022-03-08 16:38] #274 closed

[2022-03-09 15:18] uriva opened #275 "detect public functions that can be private"
I think the information vulture has can be used to easily compute functions that can be marked private (`_like_this`) by identifying that they are "dead code" wrt all files except  the one they are in.

This could be very useful.

[2022-03-10 09:42] jendrikseipp commented on #275
That's an interesting suggestion, but I think it will lead to too many false positives.

[2022-03-10 09:42] #275 closed

[2022-03-10 10:51] uriva commented on #275
the only false positive I can imagine is if they are used outside the repo, but then this is exactly the false positives vulture would return for public functions that are part of the external API.
Am I missing something?

[2022-03-15 11:14] exoriente opened #276 "vulture does not detect code usage by `case` clauses in pattern matching"
Hi,

I'm running into a issue with pattern matching and vulture. In my case the property of a class is only used during pattern matching. Vulture doesn't pick up on it and considers it dead code. I've whitelisted the properties for now, but it would be great if vulture could be improved to cover this new scenario.

Pseudo code example:

[code]

In this example, vulture seems to flag `my_test` as d

[2022-03-15 11:21] jendrikseipp commented on #276
Thanks for the report! We haven't added explicit support for the `match` statement, yet, so there could be room for improvement.

But in your code, I think `my_test` is really unused. Shouldn't the `my_test={True,False}` kwarg be called `my_field`?

[2022-04-03 15:00] SmartManoj commented on #47
Isn't a and b are unused params?

[2022-04-03 15:26] SmartManoj commented on #47
[code]

[2022-04-03 16:33] SmartManoj commented on #47
[code]

Output:
[code]

[2022-04-21 12:43] sshishov commented on #235
Hello guys, for overridden functions and unused arguments, can the `vulture` follow the same rules as pylint and other tools.

It is described here: https://stackoverflow.com/a/14836005

And this is specified as the suggested solution by PyLint: http://pylint-messages.wikidot.com/messages:w0613

Currently I am trying to use `del` but `vulture` is still reporting the variable as `unused`

[2022-04-21 18:31] jendrikseipp opened #278 "Mark deleted variables as used"
Hello guys, for overridden functions and unused arguments, can the `vulture` follow the same rules as pylint and other tools.

It is described here: https://stackoverflow.com/a/14836005

And this is specified as the suggested solution by PyLint: http://pylint-messages.wikidot.com/messages:w0613

Currently I am trying to use `del` but `vulture` is still reporting the variable as `unused`

_Original

[2022-04-21 18:35] jendrikseipp commented on #278
Thanks for the report @sshishov! I agree that `del a` should mark the `a` variable as used.

Here is a little test case for this:

[code]

To implement this, one would need to count `Name(id='a', ctx=Del())` in the abstract syntax tree as a usage of variable `a`. Pull requests welcome :-)

[2022-04-30 14:16] songololo commented on #265
In my case I have a python package with functions made available to end-users, but which I don't necessarily use in my own code. I'd like to be able to ignore `unused-function` errors and just catch unused-variable` errors.

[2022-05-25 09:08] yarnabrina opened #280 "passing filenames to pre-commit hook"
I tried to use `vulture` as part of our `.pre-commmit-config.yaml` file. I added the following snippet directly as documented in [README](https://github.com/jendrikseipp/vulture/blob/master/README.md#version-control-integration):

[code]

It failed with the following error:

While I fixed it by passing `.` as an argument in `args` section or by using `pass_filenames: true`, I feel this is a genera

[2022-05-26 20:58] jendrikseipp commented on #280
Thanks for bringing this to our attention? Would you care to make a pull request for one or both solutions you suggest?

[2022-05-30 21:03] jendrikseipp commented on #280
Copying my comment from the PR:

I read up on this issue again and found the reason why things are configured the way they are: with pass_filenames: true pre-commit will only check modified files and therefore produce many false positives (see https://github.com/jendrikseipp/vulture/pull/244). While researching this, I found `pre-commit run --all-files` but I think the current solution of requirin

[2022-05-30 21:03] #280 closed

[2022-06-11 11:53] jendrikseipp commented on #251
I think in this case it's cleaner to add `del frame` at the top of the function to let Vulture ignore the unused variable (see Vulture README.md file).

[2022-06-11 11:53] #251 closed

[2022-06-24 13:49] Jay2109 commented on #106
Is there any way to configure vulture such that it avoids serializer methods, authentication classes variables ?
example : **admin.py: Unused function has_view_permission** it is showing up methods that are over ridden by my base admin class.
Basically I want a solid solution for Django as it has many builtin methods and we over ride many of them

[2022-07-03 09:26] jendrikseipp commented on #172
@kreathon fixed this in #282.

[2022-07-03 09:26] #172 closed

[2022-07-05 13:44] Llandy3d opened #283 "AttributeError when parsing a decorator"
Hello,

I just wanted to raise awareness about an issue that I mainly encountered when working with the python prometheus client.

The `get_decorator_name` function seems to assume that after cycling over the `ast.Attribute` you can get the id `decorator.id`.
When using a decorator from the `prometheus_client` for example:
[code]
after the Attribute you will be finding an `ast.Call` object that wo

[2022-07-10 16:57] jendrikseipp commented on #283
Thanks for the report! I tried to replicate the error, but failed. Even with the regression test executed on several Python versions (https://github.com/jendrikseipp/vulture/pull/284), the error doesn't occur. Could you try to prepare a pull request that fixes the error?

[2022-07-10 17:58] Llandy3d commented on #283
Sorry, I opened this with a rush and copied the wrong snippet. I updated the snippet in the code above, the correct one would be:
[code]

I will be away for some time so nothing short term, it will probably require more analysis

[2022-07-10 20:45] jendrikseipp commented on #283
Thanks! I put your code into my test branch (#284) and now the error happens for Python 3.10. For older Python versions, the decorator simply raises a SyntaxError, so this needs a version-dependent fix. Would be great if you could take a stab at this when you find the time :-)

[2022-07-10 21:19] Llandy3d commented on #283
Actually I had some time and played around with it, I will be opening a PR soon but I will be able to check comments on it next week!

I tried with python 3.9.12 locally but I still see the `AttributeError` 🤔

[2022-07-11 13:40] #278 closed

[2022-07-12 08:48] VakarisZ opened #287 "Whitelist parameter of specific function"
I have a vulture complaint:
[code]

The method looks like:
[code]

The method is an abstract class method, thus it doesn't use the variable. Is there a way to whitelist this parameter without 1. changing the code 2. whitelisting everything that's `json_string`? Couldn't find anything in the documentation or examples, except "rename the parameter to _json_string".

[2022-07-12 15:40] jendrikseipp commented on #287
For this specific example, I'd replace `pass` by `del json_string` (see README).

[2022-07-12 15:40] #287 closed

[2022-07-12 15:41] jendrikseipp commented on #287
I don't think there's a solution that satisfies both 1. and 2. at the same time.

[2022-08-01 16:11] nosid91 opened #289 "Pydantic false positive"
We often use Pydantic in our projects. There are several problems with Pydantic classes.
1)
[code]
for model:
[code]
2) It completely ignores Pydantic classes and does not check their usage. It only checks the variables from the example above

vulture 2.5

[2022-08-01 16:19] jendrikseipp commented on #289
Thanks for the report! Since Vulture cannot detect that this code is actually used, I recommend adding the variables to a whitelist file (see README.md).

[2022-08-01 16:19] #289 closed

[2022-08-12 16:45] mariuswallraff commented on #249
No suggestion, but for other people landing here:
A workaround is to use the function-call syntax like this:
`C = TypedDict("C", {"key": int})`

You can't use the nicer-looking keyword syntax, because then mypy is going to complain again. 🙂

[2022-09-03 23:44] janosh opened #290 "Read config from `setup.cfg`"
Would be nice a `vulture` supported both `pyproject.toml` and `setup.cfg`.

Currently, this does nothing:

[code]

[2022-09-04 03:34] janosh commented on #249
You can also `noqa` all the attributes though [like the readme says](https://github.com/jendrikseipp/vulture#handling-false-positives), it ain't pretty:

[code]

[2022-09-05 09:39] jendrikseipp commented on #290
There are currently no plans to support two config files.

[2022-09-05 09:39] #290 closed

[2022-09-27 04:56] jamesbraza opened #292 "Feature request: not throw "unused variable" for __exit__"
Are you willing to consider built-in whitelisting "unused variable" reports for context management's `__exit__`?

Context management is a fundamental aspect of Python, with `__exit__`'s signature documented in [Python's data model](https://docs.python.org/3/reference/datamodel.html#object.__exit__).  Furthermore, `__exit__`'s signature is autocompleted by IDE's like PyCharm.  I don't think one sho

[2022-09-27 05:55] jendrikseipp commented on #292
I still believe that the best way to solve this is to explicitly mark the arguments as unused. There's nothing special about the argument names, and they might even change between Python releases. I updated issue #39 with more recommendations for marking the arguments as unused.

[2022-11-02 10:52] anita-clement commented on #259
Hi, is there an update on this issue?

I'm running into the same issue. `vulture` is running on all files when I'm running pre-commit while the expected behaviour from pre-commit is for it to run on staged files only. Thanks

[2022-11-27 03:44] qcoumes opened #295 "[feat] Support setup.cfg configuration file"
It would be great if `vulture` also supports a `setup.cfg` configuration file file, or at least has an argument taking a path to a configuration file.

A lot of project uses `setup.cfg` and a lot of tools support it (`pytest`, `flake8`, `pydocstyle`, `pycodestyle`, ...)

[2022-11-27 03:49] qcoumes opened #296 "[feat] Support premade-whitelist"
It would be great if premade whitelist could be added into `vulture` itself and given as an argument.

This would allow support for common frameworks such as Django or Flask, which by their nature give a lot of false positives.

As an example, `pydocstyle` do something related with its `convention` argument.

[2022-11-27 09:19] jendrikseipp commented on #296
We already collect whitelists for common Python modules in the repo.

[2022-11-27 09:19] #296 closed